<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zaplings | Connect to create.</title>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        
        {% include "./zaplings/start-scripts.html" %}
        
        <script src="{% static "jquery.bxslider/jquery.bxslider.js" %}"></script>
        <link href="{% static "jquery.bxslider/jquery.bxslider.css" %}" rel="stylesheet" />
    
    </head>
    <body>
      
        <div class="wrapper">
            <span id="post-0" class="anchor waypoint"></span>
            
            {% include "./zaplings/header.html" %}    
                
            <div class="row blog-page">
                <div class="medium-offset-2 medium-8 columns">
                    <h3 class="centerText two-margin-top">Creators' Blog</h3>    
                    <p class="half-margin-bottom">Below you'll find a collection of creations from the Zaplings community. Share what you create by joining us for Creators' Night on the last Wednesday of every month. Each night features an artist, musician, startup business, and nonprofit organization.</p>
                    <p class="half-margin-bottom">
                        Next Creators' Night is <strong>Wednesday, April 29th</strong> at <a href="http://www.wework.com/locations/austin" target="_blank">WeWork</a> (and free)
                        <button id="blog-join" class="button round success">Rsvp</button>
                    </p>
                    
                    <p class="half-margin-bottom">Thank you to <a href="http://www.danieldavisphoto.com/" target="_blank">Daniel Davis</a> for last month's photos:</p>
                    
                    <div id="blog-home-slider">
                        <div class="slider-inner">
                            <img class="blog-home-img" src="{% static "images/example-img.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-home-img" src="{% static "images/jet2.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-home-img" src="{% static "images/jet3.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-home-img" src="{% static "images/jet4.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
            
            <a href="#post-1" id="blog-next">
                <i class="blog-arrow fa fa-chevron-down"></i>
            </a>

            <a href="#post-0" id="blog-prev">
                <i class="blog-arrow fa fa-chevron-up"></i>
            </a>
            
            <span id="post-1" class="anchor waypoint"></span>
            <div class="row blog-page">
                <div class="medium-10 medium-centered columns">
                    <h4 class="inline-title half-margin-right no-margin-bottom">Works of art</h4><span>by <a href="#">username</a></span>
                    <p class="aside no-margin-top half-margin-bottom">We should probably have an optional description here.</p>
                    
                    <div class="blog-slider">
                        <div class="slider-inner">
                            <img class="blog-img" src="{% static "images/jet1.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-img" src="{% static "images/jet2.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-img" src="{% static "images/jet3.jpg" %}">
                        </div>
                        <div class="slider-inner">
                            <img class="blog-img" src="{% static "images/jet4.jpg" %}">
                        </div>
                    </div>
                    
                    <div class="centerText add-margin-top medium-8 medium-centered columns">
                        <div id="bx-pager">
                          <a data-slide-index="0" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet1.png" %}"/></a>
                          <a data-slide-index="1" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet2.png" %}"/></a>
                          <a data-slide-index="2" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet3.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                          <a data-slide-index="3" href=""><img class="blog-thumb" src="{% static "images/thumbs/jet4.png" %}"/></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <span id="post-2" class="anchor waypoint"></span>
            <div class="row blog-page">
                <div class="medium-10 medium-centered columns">
                    <h4 class="inline-title half-margin-right no-margin-bottom">Works of art</h4><span>by <a href="#">username</a></span>
                    <p class="aside no-margin-top half-margin-bottom">We should probably have an optional description here.</p>
                </div>
            </div>
            
            <span id="post-3" class="anchor waypoint"></span>
            <div class="row blog-page">
                <div class="medium-10 medium-centered columns">
                    <h4 class="inline-title half-margin-right no-margin-bottom">Works of art</h4><span>by <a href="#">username</a></span>
                    <p class="aside no-margin-top half-margin-bottom">We should probably have an optional description here.</p>
                </div>
            </div>

        
            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script> 
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        {% include "./zaplings/end-scripts.html" %}
        
        <script src="{% static "waypoints/lib/noframework.waypoints.min.js" %}"></script>  
        
        <script type="text/javascript">
            
            $(document).ready(function(){
                
                $('.anchor').each(function () {
                    new Waypoint({
                        element: this,
                        handler: function(direction) {

                            var previousWaypoint = this.previous();
                            var nextWaypoint = this.next();

                            if (this != this.group.last()){
                                document.getElementById('blog-next').setAttribute('href','#' + nextWaypoint.element.id)
                            }
                            
                            if (this != this.group.last()){
                                $('#blog-next').show();
                            } else {
                                $('#blog-next').hide();
                            }
                        }
                    })
                })
                        
                $('.blog-slider, #blog-home-slider').bxSlider({
                    pagerCustom: '#bx-pager',
                    maxSlides: 1,
                    prevText: '',   
                    nextText: '',
                });        
                
                
                $('a').click(function(){
                    $('html, body').animate({
                        scrollTop: $( $(this).attr('href') ).offset().top
                    }, 500);
                    return false;
                });
            });  
        </script> 
    </body>
</html>