<!doctype html>

{% load staticfiles %}

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:image" content="http://www.zaplings.com/static/images/creatorsnight-1.jpg" />

        <title>Zaplings | Connect to create.</title>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% include "./zaplings/start-scripts.html" %}
        
        <link rel="stylesheet" href="{% static "superslides/dist/stylesheets/superslides.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    </head>
    <body>
        <!-- facebook sdk -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '667509016705525',
              xfbml      : true,
              version    : 'v2.2'
            });
          };
        
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- AddThisEvent -->
        <script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
        <div class="wrapper">

            {% include "./zaplings/header.html" %}
            
            <div class="profile-header-img">
                <div id="slides">
                    <ul class="slides-container">
                        <li>
                            <img src="{% static "images/creatorsnight-1.jpg" %}">
                            <span class="cover-caption">Shane Cooley &amp; The Lucky Kings</span>
                        </li>
                        <li>
                            <img src="{% static "images/creatorsnight-2.jpg" %}">
                            <span class="cover-caption">Rex Hamilton</span>
                        </li>
                        <li>
                            <img src="{% static "images/creatorsnight-3.jpg" %}">
                            <span class="cover-caption">Kat Goins</span>
                        </li>
                        <li>
                            <img src="{% static "images/creatorsnight-4.jpg" %}">
                            <span class="cover-caption">Peepsqueeze</span>
                        </li>
                    </ul>
                    <nav class="slides-navigation">
                        <a href="#" class="next">
                        <i class="fa fa-chevron-right"></i>
                        </i>
                        </a>
                        <a href="#" class="prev">
                        <i class="fa fa-chevron-left"></i>
                        </i>
                        </a>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="centerText small-12 medium-10 medium-offset-1 columns">
                    <h5 class="inline-title add-margin-top"></h5><h4 class="inline-title add-margin-top">Zaplings presents Creators' Night</h4>
                    <p class="half-margin-bottom">Wednesday, April 29th, 2015 from 6:30 to 9:30pm <br>at <a href="https://www.wework.com/locations/austin/congress" target="_blank">WeWork</a> (14th floor of <a href="https://www.google.com/maps/place/WeWork/@30.268573,-97.742994,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b509c0706f9d:0xb5c171e36a8626a6" target="_blank">600 N Congress</a>)
                    </p>
                    <p class="no-margin-top">
                    Free - <a href="#rsvp-basic"><button class="half-margin-right button round small success">Rsvp required</button></a>
                    <!--<button class="button round small light">Past events</button>-->
                    </p>
                </div>
            </div>

    <!--
            <div class="row">
                <div class="medium-6 medium-offset-3 end columns">
                    <div
                        class="fb-like centerText"
                        data-share="true"
                        data-width="450"
                        data-layout="button"
                        data-show-faces="true">
                    </div>
                </div>
            </div>
            -->
            <div class="row">
                <div class="medium-5 medium-centered end columns">
                    <h5>This month's featured creators...</h5>
                    <ul>
                        <li>Music by <a href="https://shanecooley.bandcamp.com/" target="_blank">Shane Cooley &amp; The Lucky Kings</a></li>
                        <li>Art by <a href="http://www.rexhamiltonart.com" target="_blank">Rex Hamilton</a></li>
                        <li>Startup founder of <a href="http://www.peepsqueeze.com" target="_blank">Peepsqueeze</a></li>
                        <li>Photography by <a href="http://www.mynameiskat.com" target="_blank">Kat Goins</a></li>
                    </ul>
                    <h5>Opportunities for you to create</h5>
                    <ul>
                        <li>Express yourself with 5-minute mic time</li>
                        <li>Brainstorm at the idea table</li>
                        <li>Make art cards at the <a href="http://www.instagram.com/barteratx" target="_blank">bARTer table</a></li>
                        <li>Grow friendships with connection cards</li>
                        <li>Participate in the art auction</li>  
                    </ul>

                </div>
            </div>

            <form id="rsvp-basic" name="rsvp-basic">
                <div class="row full-width two-margin-top">
                    <div class="medium-6 medium-centered columns">
                        <h4 class="centerText">Rsvp required</h4>
                        <p class="no-margin-top add-margin-bottom centerText">Please arrive by 6:45 to ensure entry.</p>
                        <input id="last-name" type="text" placeholder="Last name" name="user-lastname" value="{{ user.last_name }}"/>
                        <div class="overflow-div"><input id="first-name" type="text" placeholder="First name" name="user-firstname" value="{{ user.first_name }}"/></div>
                        <input id="email" type="email" placeholder="Email" name="user-email" value="{{ email }}"/>
                        
                        <p class="no-margin-bottom">
                            <input type="checkbox" id="want-art" name="want-art">
                            <span>I want to bring a work of art to sell in the auction.</span>
                        </p>
                        <p class="no-margin-bottom">
                            <input type="checkbox" id="want-mic" name="want-mic">
                            <span>I want to be considered for 5-minute mic time.</span>                            
                        </p>
                        <textarea id="want-mic-text" name="want-mic-text" class="hidden" rows="3" placeholder="Describe specifically what you want to share."></textarea>
                        <p>
                            <input type="checkbox" id="want-featured" name="want-featured">
                            <span>I want to be a featured creator at a future event.</span>
                            <textarea id="want-featured-text" name="want-featured-text" class="hidden" rows="3" placeholder="Describe what you are creating. Include a link to website or related page."></textarea>
                        </p>
                        
                    </div>
                </div>
                
                
                <div class="centerText row">
                    <button type="submit" class="button round success">Join</button>
                </div>
                
            </form>
            
            
<!--            <form id="form-rsvp" action="{% url 'zaplings:process-rsvp' %}" method="post"/>
                {% csrf_token %} 
                <div class="row">
                    <div class="small-12 medium-6 medium-offset-3 columns">
                        <p><strong>RSVP</strong> so we can add you to the Creators' wall! We'll take your picture at the door and add your loves, offers, and needs from below to help you meet people who share your passion and have what you're looking for.</p>

                        <input id="last-name" type="text" placeholder="Last name" name="user-lastname"tabindex="2"/>
                        <div class="overflow-div"><input id="first-name" type="text" placeholder="First name" name="user-firstname" tabindex="1" /></div>
                        <input id="email" type="email" placeholder="Email" name="user-email" value="{{ email }}"tabindex="3"/>
                    </div>
                </div>

                <div class="row">
                        <h4 class="add-margin-top centerText">What do you love?</h4>
                        <p class="aside centerText">At least 3, please. The more you add, the better we can connect you.
                        <br><a href="#" data-reveal-id="existing-rsvp-reveal">I've already answered these questions</a></p>
                        <div class="medium-6 medium-offset-3 columns"><input id="input-loves" class="centerText" name="input-loves" type="text" placeholder="New love tag (press enter to add)" tabindex="4"/>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-loves" class="centerText">
                            {% for suggested_love in suggested_loves %} 
                                <input id="love-suggest-{{ suggested_love.id }}" class="vis-hidden" type="checkbox" name="love-tag" value="{{ suggested_love.id }}">
                                <label class="tag button small light round" for="love-suggest-{{ suggested_love.id }}"> {{ suggested_love.tagname }} </label>
                            {% endfor %}    
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <h4 class="add-margin-top centerText">What do you offer?</h4>    
                    <p class="aside centerText">At least 3, please</p>
                    <div class="medium-6 medium-offset-3 columns"><input id="input-offers" class="centerText" name="input-offers" type="text" placeholder="New help tag (press enter to add)" tabindex="5" />
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-offers" class="centerText">
                            {% for suggested_offer in suggested_offers %} 
                                <input id="offer-suggest-{{ suggested_offer.id }}" class="vis-hidden" type="checkbox" name="offer-tag" value="{{ suggested_offer.id }}">
                                <label class="tag button small light round" for="offer-suggest-{{ suggested_offer.id }}"> {{ suggested_offer.tagname }} </label>
                            {% endfor %}    
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <h4 class="add-margin-top centerText">What do you need?</h4>
                    <p class="aside centerText">And 3 for this one, too!</p>
                    <div class="medium-6 medium-offset-3 columns"><input id="input-needs" class="centerText" name="input-needs" type="text" placeholder="New help tag (press enter to add)" tabindex="7" />
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-needs" class="centerText">
                            {% for suggested_need in suggested_needs %} 
                                <input id="need-suggest-{{ suggested_need.id }}" class="vis-hidden" type="checkbox" name="need-tag" value="{{ suggested_need.id }}">
                                <label class="tag button small light round" for="need-suggest-{{ suggested_need.id }}"> {{ suggested_need.tagname }} </label>
                            {% endfor %}
                        </div>    
                    </div>    
                </div>
                <div class="row">
                    <div class="medium-6 medium-offset-3 columns">
                        <h4 class="add-margin-bottom add-margin-top centerText">I want to meet someone who...</h4>
                        <textarea id="want-to-meet" name="want-to-meet" rows="3" placeholder="(optional)" tabindex="8"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 medium-offset-3 columns centerText">
                        <input type="checkbox" id="open-mic" class="add-margin-top add-margin-bottom" name="want-mic" tabindex="10">
                        <span>I want to participate in open mic.</span>
                        <textarea id="open-mic-text" name="open-mic-text" class="hidden" placeholder="What would you like to do for open mic? (5 mins)"></textarea>
                        <p class="centerText add-margin-top"><button type="submit" class="large round success" tabindex="11">RSVP</button></p>
                    </div>
                </div>
            </form>

            <div id="existing-rsvp-reveal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="medium-10 medium-centered columns">
                        <p>If you've already answered these questions, they are still linked to your email address and you don't have to re-enter them. You can always add more though!</p>
                        <div class="centerText">
                            <button class="close-reveal-modal button round success">Got it</button>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script>    
        <script type="text/javascript">
              $(document).foundation();
        </script>
        <script type="text/javascript">
            addthisevent.settings({
                mouse        : false,
                css            : false,
                outlook        : {show:true, text:"Outlook Calendar"},
                google        : {show:true, text:"Google Calendar"},
                yahoo        : {show:true, text:"Yahoo Calendar"},
                ical        : {show:true, text:"iCal Calendar"},
                hotmail        : {show:true, text:"Hotmail Calendar"},
                facebook    : {show:true, text:"Facebook Calendar"}
            });
        </script>

        {% include "./zaplings/superslides-scripts.html" %}

        <script type="text/javascript">
        $(document).ready(function(){

            $('#slides').superslides({
                inherit_height_from: '.profile-header-img',
                animation_speed: 1000,
                animation: 'fade',
                play: 5000
            });

        /*    $('#start-profile-reveal').foundation('reveal', 'open');
            $('#start-signup-reveal').foundation('reveal', 'open');

            var loveNum = $('#selected-loves .tag').length;
            var offerNum = $('#selected-offers .tag').length;
            var needNum = $('#selected-needs .tag').length;

            $('#input-loves').keypress(function (e) {
            var text = $(this).val();
                if (e.which == 13 && text != '') {
                    loveNum++;
                    $('#input-loves').val('');                        
                      $('#selected-loves').prepend('<input id="love-suggest-'+loveNum+'" class="vis-hidden" type="checkbox" name="love-tag-new" value="'+text+'" checked><label class="tag button small light round" for="love-suggest-'+loveNum+'">'+text+'</label>');
                    e.preventDefault();    
                    $(this).focus().select();
                }
                else if (e.which == 13 && text == ''){
                    e.preventDefault();
                    return false;
                };
            });
            
            $('#selected-loves').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));
        
            $('#input-offers').keypress(function (e) {
                var text = $(this).val();
                if (e.which == 13 && text != '') {
                    offerNum++;
                    $('#input-offers').val('');                        
                      $('#selected-offers').prepend('<input id="offer-suggest-'+offerNum+'" class="vis-hidden" type="checkbox" name="offer-tag-new" value="'+text+'" checked><label class="tag button small light round" for="offer-suggest-'+offerNum+'">'+text+'</label>');
                    e.preventDefault();
                    $(this).focus().select();
                }
                else if (e.which == 13 && text == ''){
                    e.preventDefault();
                    return false;
                };
            });    
            $('#selected-offers').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));

            $('#input-needs').keypress(function (e) {
                var text = $(this).val();
                if (e.which == 13 && text != '') {
                    needNum++;
                    $('#input-needs').val('');                        
                      $('#selected-needs').prepend('<input id="need-suggest-'+needNum+'" class="vis-hidden" type="checkbox" name="need-tag-new" value="'+text+'" checked><label class="tag button small light round" for="need-suggest-'+needNum+'">'+text+'</label>');
                      e.preventDefault();    
                    $(this).focus().select();
                }
                else if (e.which == 13){
                    e.preventDefault();
                    return false;
                };
            });    

            $('#selected-needs').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));
            
*/
        
            $('#want-mic').click(function(){
                $('#want-mic-text').toggleClass('hidden');
            });
            
            $('#want-featured').click(function(){
                $('#want-featured-text').toggleClass('hidden');
            });

            $('#form-rsvp').submit(function() {
                var values = $('#form-rsvp').serialize();
            });
            
            $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top
                }, 500);
                return false;
            });

        });

        </script>

        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>
