<!doctype html>

{% load staticfiles %}

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:image" content="http://www.zaplings.com/static/images/creatorsnight-1.jpg" />

        <title>Zaplings | Connect to create.</title>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% include "./zaplings/start-scripts.html" %}
        
        <link rel="stylesheet" href="{% static "superslides/dist/stylesheets/superslides.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    </head>
    <body>
        <!-- facebook sdk -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '667509016705525',
              xfbml      : true,
              version    : 'v2.2'
            });
          };
        
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- AddThisEvent -->
        <script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
        <div class="wrapper">

            {% include "./zaplings/header.html" %}
            
            <div class="profile-header-img">
                <div id="slides">
                    <ul class="slides-container">
                        <li>
                            <img src="{% static "images/creatorsnight-1.jpg" %}">
                            <span class="cover-caption">Rex Hamilton</span>
                        </li>
                        <li>
                            <img src="{% static "images/creatorsnight-2.jpg" %}">
                            <span class="cover-caption">Hilary Kuhlmey</span>
                        </li>
                        <li>
                            <img src="{% static "images/creatorsnight-3.jpg" %}">
                            <span class="cover-caption">Daniel Davis</span>
                        </li>
                    </ul>
                    <nav class="slides-navigation">
                        <a href="#" class="next">
                        <i class="fa fa-chevron-right"></i>
                        </i>
                        </a>
                        <a href="#" class="prev">
                        <i class="fa fa-chevron-left"></i>
                        </i>
                        </a>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-10 medium-offset-1 columns">
                    <h5 class="centerText add-margin-top no-margin-bottom">Zaplings presents</h5><h3 class="centerText no-margin-top">Creators' Night</h3>
                    <p class="centerText half-margin-bottom">Wednesday, March 4th, 2015 from 7:00 - 10:00pm <br>at Space12 (<a href="https://www.google.com/maps/place/Space12/@30.276354,-97.701532,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b5de4f4ad4eb:0xe66e489d8e377c6a" target="_blank">3121 E 12th St, 78702</a>)<br>
                    Free</p>
                </div>
            </div>
            <p class="centerText">
                        <a href="http://www.zaplings.com/creatorsnight" title="Add to Calendar" class="addthisevent button small success round">
                        save the date
                        <span class="_start">03-04-2015 19:00:00</span>
                        <span class="_end">03-04-2015 22:00:00</span>
                        <span class="_zonecode">11</span>
                        <span class="_summary">Zaplings presents Creators' Night</span>
                        <span class="_description">Let's celebrate what we create!<br>
                        Featuring... Music: Hilary Kuhlmey - Art: Rex Hamilton - Nonprofit: JMOE - Startup:  - Photography: Daniel Davis - YOU: Share your art with open mic, bARTer table, idea brainstorm, and more!<br>
                        RSVP at zaplings.com/creatorsnight and we'll introduce you to people who share your passion or offer what you need.</span>
                        <span class="_location">Space12, 3121 East 12th Street, Austin, TX 78702</span>
                        <span class="_organizer">Danny Pernik</span>
                        <span class="_organizer_email">dannypernik@gmail.com</span>
                        <span class="_facebook_event"></span>
                        <span class="_all_day_event">false</span>
                        <span class="_date_format">MM/DD/YYYY</span>
                        </a>
                    </p>
            <!--
            <div class="row">
                <div class="medium-6 medium-offset-3 end columns">
                    <div
                        class="fb-like centerText"
                        data-share="true"
                        data-width="450"
                        data-layout="button"
                        data-show-faces="true">
                    </div>
                </div>
            </div>
            -->
            <div class="row">
                <div class="medium-6 medium-offset-3 end columns">
                    <p class="aside half-margin-bottom"><strong>Featuring...</strong></p>
                    <p>
                        Music: <a href="http://www.reverbnation.com/hilarykuhlmey" target="_blank">Hilary Kuhlmey</a> - 
                        Art: <a href="http://www.rexhamiltonart.com/" target="_blank">Rex Hamilton</a> - 
                        Nonprofit: <a href="http://www.artbyjet.com/history/" target="_blank">JMOE</a> - 
                        <!--Startup: <a href="#" target="_blank">dunno yet</a> - 
                        Food: <a href="#" target="_blank">dunno yet</a> - 
                        Wine: <a href="#" target="_blank">dunno yet</a> - -->
                        Photography: <a href="http://danieldavisphoto.com/" target="_blank">Daniel Davis</a> - Videography: <a href="http://thestreetsaremine.com/" target="_blank">Daniel LaFata</a>
                        <br>
                        YOU: Share your art with open mic, <a href="http://www.instagram.com/barteratx" target="_blank">bARTer</a> table, idea brainstorm, and more.</p>
                        <p class="add-margin-top">
                            Entrepreneurs - share your perspective at the idea table. Write an index card supporting a current idea or start a new one. After the event we'll connect you to the others who contributed to that concept.
                        </p>
                        <p class="add-margin-top">
                            Artists - bring artwork for the auction. Set your minimum bid and take home 85% if it sells. 15% goes to Space12. Please arrive before 7pm.
                        </p>
                    </div>
                </div>
            <form id="form-rsvp" action="{% url 'zaplings:process-rsvp' %}" method="post"/>
                {% csrf_token %} 
                <div class="row">
                    <div class="small-12 medium-6 medium-offset-3 columns">
                        <p><strong>RSVP</strong> so we can add you to the Creators' wall! We'll take your picture at the door and add your loves, offers, and needs from below to help you meet people who share your passion and have what you're looking for.</p>

                        <input id="last-name" type="text" placeholder="Last name" name="user-lastname"tabindex="2"/>
                        <div class="overflow-div"><input id="first-name" type="text" placeholder="First name" name="user-firstname" tabindex="1" /></div>
                        <input id="email" type="email" placeholder="Email" name="user-email" value="{{ email }}"tabindex="3"/>
                    </div>
                </div>

                <div class="row">
                        <h4 class="add-margin-top centerText">What do you love?</h4>
                        <p class="aside centerText">At least 3, please. The more you add, the better we can connect you.
                        <br><a href="#" data-reveal-id="existing-rsvp-reveal">I've already answered these questions</a></p>
                        <div class="medium-6 medium-offset-3 columns"><input id="input-loves" class="centerText" name="input-loves" type="text" placeholder="New love tag (press enter to add)" tabindex="4"/>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-loves" class="centerText">
                            {% for suggested_love in suggested_loves %} 
                                <input id="love-suggest-{{ suggested_love.id }}" class="vis-hidden" type="checkbox" name="love-tag" value="{{ suggested_love.id }}">
                                <label class="tag button small light round" for="love-suggest-{{ suggested_love.id }}"> {{ suggested_love.tagname }} </label>
                            {% endfor %}    
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <h4 class="add-margin-top centerText">What do you offer?</h4>    
                    <p class="aside centerText">At least 3, please</p>
                    <div class="medium-6 medium-offset-3 columns"><input id="input-offers" class="centerText" name="input-offers" type="text" placeholder="New help tag (press enter to add)" tabindex="5" />
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-offers" class="centerText">
                            {% for suggested_offer in suggested_offers %} 
                                <input id="offer-suggest-{{ suggested_offer.id }}" class="vis-hidden" type="checkbox" name="offer-tag" value="{{ suggested_offer.id }}">
                                <label class="tag button small light round" for="offer-suggest-{{ suggested_offer.id }}"> {{ suggested_offer.tagname }} </label>
                            {% endfor %}    
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <h4 class="add-margin-top centerText">What do you need?</h4>
                    <p class="aside centerText">And 3 for this one, too!</p>
                    <div class="medium-6 medium-offset-3 columns"><input id="input-needs" class="centerText" name="input-needs" type="text" placeholder="New help tag (press enter to add)" tabindex="7" />
                    </div>
                </div>
                <div class="row">
                    <div class="medium-9 medium-centered columns">
                        <div id="selected-needs" class="centerText">
                            {% for suggested_need in suggested_needs %} 
                                <input id="need-suggest-{{ suggested_need.id }}" class="vis-hidden" type="checkbox" name="need-tag" value="{{ suggested_need.id }}">
                                <label class="tag button small light round" for="need-suggest-{{ suggested_need.id }}"> {{ suggested_need.tagname }} </label>
                            {% endfor %}
                        </div>    
                    </div>    
                </div>
                <div class="row">
                    <div class="medium-6 medium-offset-3 columns">
                        <h4 class="add-margin-bottom add-margin-top centerText">I want to meet someone who...</h4>
                        <textarea id="want-to-meet" name="want-to-meet" rows="3" placeholder="(optional)" tabindex="8"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 medium-offset-3 columns centerText">
                        <input type="checkbox" id="open-mic" class="add-margin-top add-margin-bottom" name="want-mic" tabindex="10">
                        <span>I want to participate in open mic.</span>
                        <textarea id="open-mic-text" name="open-mic-text" class="hidden" placeholder="What would you like to do for open mic? (5 mins)"></textarea>
                        <p class="centerText add-margin-top"><button type="submit" class="large round success" tabindex="11">RSVP</button></p>
                    </div>
                </div>
            </form>

            <div id="existing-rsvp-reveal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="medium-10 medium-centered columns">
                        <p>If you've already answered these questions, they are still linked to your email address and you don't have to re-enter them. You can always add more though!</p>
                        <div class="centerText">
                            <button class="close-reveal-modal button round success">Got it</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script>    
        <script type="text/javascript">
              $(document).foundation();
        </script>
        <script type="text/javascript">
            addthisevent.settings({
                mouse        : false,
                css            : false,
                outlook        : {show:true, text:"Outlook Calendar"},
                google        : {show:true, text:"Google Calendar"},
                yahoo        : {show:true, text:"Yahoo Calendar"},
                ical        : {show:true, text:"iCal Calendar"},
                hotmail        : {show:true, text:"Hotmail Calendar"},
                facebook    : {show:true, text:"Facebook Calendar"}
            });
        </script>

        {% include "./zaplings/superslides-scripts.html" %}

        <script type="text/javascript">
        $(document).ready(function(){

            $('#slides').superslides({
                inherit_height_from: '.profile-header-img',
                animation_speed: 1000,
                animation: 'fade',
                play: 5000
            });

            $('#start-profile-reveal').foundation('reveal', 'open');
            $('#start-signup-reveal').foundation('reveal', 'open');

            var loveNum = $('#selected-loves .tag').length;
            var offerNum = $('#selected-offers .tag').length;
            var needNum = $('#selected-needs .tag').length;

            $('#input-loves').keypress(function (e) {
            var text = $(this).val();
                if (e.which == 13 && text != '') {
                    loveNum++;
                    $('#input-loves').val('');                        
                      $('#selected-loves').prepend('<input id="love-suggest-'+loveNum+'" class="vis-hidden" type="checkbox" name="love-tag-new" value="'+text+'" checked><label class="tag button small light round" for="love-suggest-'+loveNum+'">'+text+'</label>');
                    e.preventDefault();    
                    $(this).focus().select();
                }
                else if (e.which == 13 && text == ''){
                    e.preventDefault();
                    return false;
                };
            });
            
            $('#selected-loves').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));
        
            $('#input-offers').keypress(function (e) {
                var text = $(this).val();
                if (e.which == 13 && text != '') {
                    offerNum++;
                    $('#input-offers').val('');                        
                      $('#selected-offers').prepend('<input id="offer-suggest-'+offerNum+'" class="vis-hidden" type="checkbox" name="offer-tag-new" value="'+text+'" checked><label class="tag button small light round" for="offer-suggest-'+offerNum+'">'+text+'</label>');
                    e.preventDefault();
                    $(this).focus().select();
                }
                else if (e.which == 13 && text == ''){
                    e.preventDefault();
                    return false;
                };
            });    
            $('#selected-offers').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));

            $('#input-needs').keypress(function (e) {
                var text = $(this).val();
                if (e.which == 13 && text != '') {
                    needNum++;
                    $('#input-needs').val('');                        
                      $('#selected-needs').prepend('<input id="need-suggest-'+needNum+'" class="vis-hidden" type="checkbox" name="need-tag-new" value="'+text+'" checked><label class="tag button small light round" for="need-suggest-'+needNum+'">'+text+'</label>');
                      e.preventDefault();    
                    $(this).focus().select();
                }
                else if (e.which == 13){
                    e.preventDefault();
                    return false;
                };
            });    

            $('#selected-needs').on('click', 'label', (function(){
                $(this).toggleClass('selected').blur();
            }));
        
            $('#open-mic').click(function(){
                $('#open-mic-text').toggleClass('hidden');
            });

            $('#form-rsvp').submit(function() {
                var values = $('#form-rsvp').serialize();
            });

        });

        </script>

        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>
