<!doctype html>

{% load static %}

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zaplings | Connect to create.</title>
		<link rel="stylesheet" href="{% static "style.css" %}" />
		<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<script src="{% static "js/vendor/modernizr.js" %}"></script>
		<script src="{% static "js/vendor/jquery.js" %}"></script>
		<script src="{% static "./mmenu-master/src/js/jquery.mmenu.min.js" %}" type="text/javascript"></script>
		<link href="{% static "./mmenu-master/src/css/jquery.mmenu.all.css" %}" type="text/css" rel="stylesheet" />

	</head>
	<body>
	  
		<div class="wrapper">

			{% include "./zaplings/header.html" %}
	  		<div class="row">
		  		<div class="medium-8 medium-offset-2 columns">
					<h2 class="titleCenter">Oops! Something went wrong...</h2>
					<p>Sorry about that. We've been informed of the error and will look into the issue. </p>
				<!--	<div class="centerText"><button class="button round" onclick="window.history.back();return false;">Go home</button></div> -->
					<div class="centerText"><a href="{% url 'zaplings:index' %}" class="button round">Go home</a></div>
				</div>
			</div>
		
		
			<div class="push"></div>
		</div>
		
		{% include "./zaplings/footer.html" %}
			
	    <script src="{% static "js/foundation.min.js" %}"></script>	
		<script type="text/javascript">
	  		$(document).foundation();
	  		$(document).ready(function(){
	  			// wait 5s (5000ms), then go home
				setTimeout( function(){ window.location.href = "{% url 'zaplings:index' %}" return false; }, 5000);	
	  		});
		</script>
		<script type="text/javascript" src="{% static "./js/mobile-menu.js" %}"></script>
		<script type="text/javascript" src="{% static "./js/mobile-menu.js" %}"></script>
	</body>
</html>
