<!doctype html>

{% load static %}

<html class="no-js" lang="en">
	<head>	
	
		{% include "./zaplings/head.html" %}
		
	</head>
	<body>
	  
		<div class="wrapper">

			{% include "./zaplings/header.html" %}
	  		<div class="row">
		  		<div class="medium-8 medium-offset-2 columns">
					<h2 class="titleCenter">Oops! Something went wrong...</h2>
					<p class="centerText">Sorry about that. We've been informed of the error and will look into the issue. </p>
				<!--	<div class="centerText"><button class="button round" onclick="window.history.back();return false;">Go home</button></div> -->
					<div class="centerText"><a href="{% url 'zaplings:index' %}" class="button round">Go home</a></div>
				</div>
			</div>
		
		
			<div class="push"></div>
		</div>
		
		{% include "./zaplings/footer.html" %}
			
	    <script src="{% static "js/foundation.min.js" %}"></script>	
		<script type="text/javascript">
	  		$(document).foundation();
	  		$(document).ready(function(){
	  			// wait 5s (5000ms), then go home
				setTimeout( function(){ window.location.href = "{% url 'zaplings:index' %}" return false; }, 5000);	
	  		});
		</script>
		
		{% include "./zaplings/end-scripts.html" %}
	</body>
</html>
