{% load static %}
<script src="{% static "./js/jquery.selectric.min.js" %}"></script>
<div class="row">
	<div class="centerText medium-10 medium-offset-1 columns end">
		<form id="form-feedback" action="" method="post"/>
			<h3>Share feedback</h3>
			<p>Questions? Issues with the site? Let us know.</p>
			<div class="medium-10 medium-offset-1 columns">
				<select>
					<option value="question">Question</option>
					<option value="comment">Comment</option>
					<option value="suggestion">Suggestion</option>
					<option value="issue">Website issue</option>
					<option value="other">Other - Describe in subject field</option>
				</select>
			</div>
			<input type="text" placeholder="Subject (optional)"/>
			<textarea rows="3" placeholder="Share your thoughts..."></textarea>
			<div class="centerText">
				<button type="submit" class="button round success">Send</button>
				<button class="close-reveal-modal button round light">Cancel</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('select').selectric()
	});
</script>