{% load static %}


<header class="row header full-width">
	<div class="header-left medium-7 medium-offset-1 hide-for-small-only columns">
		<a href="{% url "zaplings:index" %}"><img class="headerLogo" src="{% static "./images/header-logo.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo.png" %}'" alt="Zaplings logo" width="111px" height="50px"/></a>
		<button data-reveal-id="idea-preview-reveal" class="new-idea button small radius">What's your great idea?</button>
	</div>		

	<div class="header-left small-10 show-for-small-only columns">
		<a href="{% static "./index.html" %}"><img class="headerLogo" src="{% static "./images/header-logo-small.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo-small.png" %}'" width="96px" height="44px"/></a>
		<button data-reveal-id="idea-preview-reveal" class="small-new-idea button small radius">What's your great idea?</button>
	</div>

	<div class="header-menu large-3 medium-4 hide-for-small-only columns end">
	    <ul class="top-level-menu">
		    <li>
		        <a href="#">Menu <span class="arrow-down"></span></a>
		        <ul class="second-level-menu">
		        <!--    <li><a href="#">My ideas</a></li>-->
		            <li><a href="{% url 'zaplings:generate_profile' %}">My profile</a></li>
		        <!--    <li><a href="#">Idea feed</a></li>
		            <li>
		                <a href="#">Learn more</a>
		                <ul class="third-level-menu">
		                    <li><a href="#">How it works</a></li>-->
		            <li><a href="{% url 'zaplings:10-reasons' %}">10 reasons to join</a></li>
		            <li><a href="{% url 'zaplings:faq' %}">FAQs</a></li>
		            <!--<li><a href="{% url 'zaplings:getinvolved' %}">Get involved</a></li>-->
		            <li><a href="{% url "zaplings:user_logout" %}">Log out</a></li>

		        </ul>
		    </li>
		</ul>
	</div>

	<div class="header-menu show-for-small-only small-2 columns">
		<ul class="top-level-menu-small">
		    <li>
		        <a href="#"><img src="{% static "./images/three-lines.png" %}" alt="Menu" width="40px" height="40px"/></a>
		        <ul class="second-level-menu">
		         <!--   <li><a href="#">My ideas</a></li>-->
   		            <li><a href="{% url 'zaplings:profile-view' %}">My profile</a></li>
		        <!--    <li><a href="#">Idea feed</a></li>
		            <li>
		                <a href="#">Learn more</a>
		                <ul class="third-level-menu">
		                    <li><a href="#">How it works</a></li>	-->
			    <!--<li><a href="{% url 'zaplings:howitworks' %}">How it works</a></li>-->
		            <li><a href="{% url 'zaplings:10-reasons' %}">10 reasons to join</a></li>
		            <li><a href="{% url 'zaplings:faq' %}">FAQs</a></li>
		            <!--<li><a href="{% url 'zaplings:getinvolved' %}">Get involved</a></li>-->
		            <li><a href="{% url "zaplings:user_logout" %}">Log out</a></li>
		        </ul>
		    </li>
		</ul>
	</div>

	<!--<div class="header-learn large-3 medium-4 hide-for-small-only columns end">
		<a href="#" data-dropdown="drop1" class="button round small dropdown">Menu</a><br>
		<ul id="drop1" data-dropdown-content class="f-dropdown">
			<li><a href=>Log out</a></li>
		</ul>
	</div>-->

	<div class="header-learn show-for-small-only small-2 columns">
		<a href="#" data-dropdown="drop1" class="menu-button"><img src="{% static "./images/three-lines.png" %}" alt="Menu" width="30px" height="30px"></a><br>
		<ul id="drop1" data-dropdown-content class="f-dropdown">
   		        <li><a href="{% url 'zaplings:profile-view' %}">My profile</a></li>
		<!--	<li><a href="{% url 'zaplings:howitworks' %}">How it works</a></li>-->
			<li><a href="{% url "zaplings:10-reasons" %}">10 reasons to join</a></li>
			<li><a href="{% url "zaplings:faq" %}">FAQ</a></li>
<!--                        <li><a href="{% url 'zaplings:getinvolved' %}">Get involved</a></li>-->
			<li><a href="{% url "zaplings:user_logout" %}">Log out</a></li>
	  	</ul>
	</div>

</header>

<div id="idea-preview-reveal" class="reveal-modal" data-reveal>
	<div class="row">
		<div class="medium-8 medium-offset-2 columns end">
			<h3 class="centerText">Ideas grow soon!</h3>
			<p>Over the next month, we will release several features to help you share ideas, including:</p>
			<p><strong>Your private idea book.</strong> Keep all your ideas in one place, and easily share them whenever you wish.</p>
			<p><strong>Public idea pages.</strong> When you are ready to create, complete an idea page to give more detail and seek support.</p>
			<p><strong>Community idea feed.</strong> Get inspired by the great ideas other users share, and find one you'd like to help grow.</p>
			<div class="centerText"><button class="close-reveal-modal button round success">Got it!</button></div>
		</div>
	</div>	
</div>
