{% load static %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Zaplings | The idea garden</title>
<link rel="stylesheet" href="{% static "style.css" %}" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic' rel='stylesheet' type='text/css'>

<script src="{% static "./js/vendor/modernizr.js" %}"></script>
<script src="{% static "./js/vendor/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "./js/doubletaptogo.min.js" %}"></script>
<script type="text/javascript" src="{% static "./js/jquery.placeholder.js" %}"></script>