<!doctype html>

{% load static %}

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zaplings | Grow.</title>
		<link rel="stylesheet" href="{% static "style.css" %}" />
		<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<script src="{% static "js/vendor/modernizr.js" %}"></script>
		<script src="{% static "js/vendor/jquery.js" %}"></script>

	</head>
	<body>
	  
		<div class="wrapper">
			<header class="row header full-width">
		  		<div class="header-left medium-7 medium-offset-1 hide-for-small-only columns">
					<a href="{% url "zaplings:index" %}"><img class="headerLogo" src="{% static "./images/header-logo.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo.png" %}'" alt="Zaplings logo" width="111px" height="50px"/></a>
					<a href="./startidea.html"><button class="new-idea button small radius">What's your great idea?</button></a>
				</div>		

				<div class="header-left small-10 show-for-small-only columns">
					<a href="./index.html"><img class="headerLogo" src="{% static "./images/header-logo-small.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo-small.png" %}'" width="96px" height="44px"/></a>
					<a href="./startidea.html"><button class="small-new-idea button small radius">What's your great idea?</button></a>
		  	  	</div>
		  
				<div class="header-learn large-3 medium-4 hide-for-small-only columns end">
					<a href="#" data-dropdown="drop1" class="button round small dropdown">Learn more</a><br>
					<ul id="drop1" data-dropdown-content class="f-dropdown">
						<li><a href="./howitworks.html">How it works</a></li>
						<li><a href="./faq.html">FAQ</a></li>
						<li><a href="./about.html">About</a></li>
						<li><a href="./getinvolved">Get involved</a></li>
					</ul>
				</div>
	  
				<div class="header-learn show-for-small-only small-2 columns">
					<a href="#" data-dropdown="drop1" class="menu-button"><img src="{% static "./images/three-lines.png" %}" alt="Menu" width="30px" height="30px"></a><br>
					<ul id="drop1" data-dropdown-content class="f-dropdown">
				    	<li><a href="./howitworks.html">How it works</a></li>
				    	<li><a href="./faq.html">FAQ</a></li>
				    	<li><a href="./about.html">About us</a></li>
						<li><a href="./getinvolved.html">Get involved</a></li>
				  	</ul>
		  	  	</div>
		  	</header>

			<div class="row full-width">
				<div class="medium-offset-1 small-12 columns">
					<h3 class="list-heading">Ideas</h3>
						<ul class="idea-feed">
							<li>
						<!-- Needs idea variables and link to idea page -->
								<div id="idea-feed-content" class="medium-8 columns">
									<a href="#"><img class="idea-feed-img" src="{% static "./images/leaf-circle.png" %}" height="88px" width="88px"></a>
									<div class="overflow-div">
			              				<a class="idea-feed-text" href="#"><h5 class="idea-feed-title">Bam's Brussel Sprouts 25ch</h5></a>
			             				<p class="idea-feed-tagline">A short sweet slogan goes here. (50 character max) A short sweet slogan goes here (50 character max)</p><em><a class="idea-feed-user" href="#">username</a></em>
									</div>
								</div>
								<div class="rightText large-2 medium-3 columns end">
									<button class="button tiny round light dropdown">Actions</button>
								</div>
							</li>
								<li>
							<!-- Needs idea variables and link to idea page -->
									<div id="idea-feed-content" class="medium-8 columns">
										<a href="#"><img class="idea-feed-img" src="{% static "./images/leaf-circle.png" %}" height="88px" width="88px"></a>
										<div class="overflow-div">
				              				<a class="idea-feed-text" href="#"><h5 class="idea-feed-title">Bam's Brussel Sprouts 25ch</h5></a>
				             				<p class="idea-feed-tagline">A short sweet slogan goes here. (50 character max) A short sweet slogan goes here (50 character max)</p><em><a class="idea-feed-user" href="#">username</a></em>
										</div>
									</div>
									<div class="rightText large-2 medium-3 columns end">
										<button class="button tiny round light dropdown">Actions</button>
									</div>
								</li>
									<li>
								<!-- Needs idea variables and link to idea page -->
										<div id="idea-feed-content" class="medium-8 columns">
											<a href="#"><img class="idea-feed-img" src="{% static "./images/leaf-circle.png" %}" height="88px" width="88px"></a>
											<div class="overflow-div">
					              				<a class="idea-feed-text" href="#"><h5 class="idea-feed-title">Bam's Brussel Sprouts 25ch</h5></a>
					             				<p class="idea-feed-tagline">A short sweet slogan goes here. (50 character max) A short sweet slogan goes here (50 character max)</p><em><a class="idea-feed-user" href="#">username</a></em>
											</div>
										</div>
										<div class="rightText large-2 medium-3 columns end">
											<button class="button tiny round light dropdown">Actions</button>
										</div>
									</li>
										<li>
									<!-- Needs idea variables and link to idea page -->
											<div id="idea-feed-content" class="medium-8 columns">
												<a href="#"><img class="idea-feed-img" src="{% static "./images/leaf-circle.png" %}" height="88px" width="88px"></a>
												<div class="overflow-div">
						              				<a class="idea-feed-text" href="#"><h5 class="idea-feed-title">Bam's Brussel Sprouts 25ch</h5></a>
						             				<p class="idea-feed-tagline">A short sweet slogan goes here. (50 character max) A short sweet slogan goes here (50 character max)</p><em><a class="idea-feed-user" href="#">username</a></em>
												</div>
											</div>
											<div class="rightText large-2 medium-3 columns end">
												<button class="dropdown button tiny round light">Actions</button>
											</div>
										</li>
						</ul>
					</div>	
				</div>
			</div>
		
			<div class="push"></div>
		</div>
		
		<div class="footer row full-width">
			<div class="social-media">
				<a href="#"><img class="social-button" src="{% static "./images/facebook-icon.png" %}" alt="Facebook"></a>
				<a href="#"><img class="social-button" src="{% static "./images/twitter-icon.png" %}" alt="Twitter"></a>
				<a href="#"><img class="social-button" src="{% static "./images/linkedin-icon.png" %}" alt="LinkedIn"></a>
			</div>	
		</div>	
			
	    <script src="{% static "js/foundation.min.js" %}"></script>	
		<script type="text/javascript">
	  		$(document).foundation();
		</script>
	</body>
</html>