<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Create something with Zaplings"/>
	<meta property="og:image" content="{% static "logo-large.png" %}"/>
	<meta property="og:description" content="Share ideas, get feedback, and build your team. Zaplings introduces you to ideas you&#39;ll love and people you&#39;re looking for."/>
    <title>Zaplings | Connect to create.</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "./slick/slick.css" %}"/>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>
  <body id="home">
    
	<header id="home-header" class="row">
		<div class="large-5 large-offset-1 medium-4 medium-offset-2 small-6 columns">
			<img id="homeLogo" src="{% static "./images/home-logo.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/home-logo.png" %}'" alt="Zaplings logo" width="130px" height="60px">
		</div>
<!--		
		  <div id="home-learn" class="large-5 medium-4 small-6 columns end">
			  <a href="#" data-dropdown="drop1" class="button round dropdown small">Learn more</a><br>
				  <ul id="drop1" data-dropdown-content class="f-dropdown">
				    <li><a href="#">How it works</a></li>
				    <li><a href="#">FAQ</a></li>
				    <li><a href="#">10 reasons to join</a></li>
					<li><a href="#">Get involved</a></li>
				  </ul>
		  </div>
-->
	  </header>
	  		<div class="row">
				<div id="intro" class="titleMargin large-5 large-offset-1 medium-8 medium-offset-2 small-12 columns">
					<h2 id="homeTitle">Connect to create.</h2>
					<p class="lead">Share ideas, get feedback, and build your team. Zaplings suggests ideas you'll love and people who can help you.</p>
					<h3 id="create-something">Let's grow together.</h3>
					<!-- Form moved to jQuery -->

						<div id="start-options">
                            <form id="form-join" action="{% url 'zaplings:record_new_email' %}" method="post"> 
                                {% csrf_token %}  
								<div id="email-div"><button id="email-submit" type="submit" class="button round success">I'm in!</button>
                                    <div id="home-email">
                                        <input type="email" name="email" placeholder="Your email"/>
                                    </div>
								</div>
                            </form>
                            <div class="home-text">or <a class="home-text" href="{% url 'zaplings:signup' %}">Log in</a></div>
							<div class="add-margin-top add-margin-bottom">
								<a class="home-text" href="{% url "zaplings:10-reasons" %}">10 reasons to join</a> 
							</div>
<!--			  			    <button id="share-idea" class="button round success">Share an idea</button>		-->
						</div>
                {% if status_message %}
                <div class="add-margin-bottom">
                    <p id="status_message" class="lead"> 
                        {{ status_message }}
                    </p>
                </div>
                {% endif %}
				</div>
	
				<div class="titleMargin large-4 large-offset-1 medium-8 medium-offset-2 small-12 columns end">
					<p id="video-caption">They can do it, so can you:</p>
					<div class="flex-video">
						<iframe src="http://www.youtube.com/embed/DT5eFdDDFPI?showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>	
					<div class="row">
						<div id="featured-ideas" class="small-12 columns"><h6>Great ideas</h6></div>
					</div>
					<div class="row">
						<div class="single-item">
{% static "images/" as images %}
{% for featured_idea in featured_ideas %}
  						  	<div>
   							 	<div class="small-4 columns">
									<img src="{{images}}featured-idea-{{featured_idea.id}}.png" width="88px" alt="slide {{featured_idea.id}}" />
								</div>
								<div class="small-8 columns">
									<p class="featured-title large">{{ featured_idea.idea.title }}</p>
									<p class="featured-description aside">{{ featured_idea.idea.tagline }}</p>
	    						</div>
  						  	</div>
{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
						
    <script src="{% static "./js/vendor/jquery.js" %}"></script>
    <script src="{% static "./js/foundation.min.js" %}"></script>
	<script type="text/javascript" src="{% static "./slick/slick.min.js" %}"></script> 
	<script src="{% static "./js/home-slider.js" %}"></script>
	
	
<!--	<script type="text/javascript">
	$(document).ready(function(){
		$('#share-idea').click(function(){
			$(this).fadeOut(400, function(){
				$(this).replaceWith('<span id="launch-date">Ideas grow July 15!</span>');
				$('#launch-date').hide().fadeIn();
			});
		});
	});
	</script>
-->
	
	{% include "./zaplings/end-scripts.html" %}
  </body>
</html>

