<!doctype html>

{% load static %}

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zaplings | The idea garden</title>
		<link rel="stylesheet" href="{% static "style.css" %}" />
		<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		
		{% include "./zaplings/start-scripts.html" %}
		
		<link rel="stylesheet" type="text/css" href="{% static "./slick/slick.css" %}"/>
	
	</head>
	<body id="home">
	  
		<div class="wrapper">
			<div class="hide-for-small-only">
				<div class="row two-margin-top">
					<div class="centerText small-12 columns">
						<img class="alt-home-logo" src="{% static "./images/header-logo.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo.png" %}'" alt="Zaplings logo" width="171px" height="77px"/>

						<h3 class="two-margin-top">Let's help each other<br>bring great ideas to life.</h3>
					</div>
				</div>
				<div class="row three-halves-margin-top">
					<div class="medium-8 medium-centered columns centerText">
						<p class="lead">Zaplings is a community of creators making<br>
						social impact, business, and art. Join us for <br>
						Creators' Night on the last Wednesday of<br>
						every month in Austin, Texas.
						</p>
					</div>
				</div>
				<div class="row centerText">
					<a href="{% url "zaplings:creatorsnight" %}"><button class="button success  round">Check out Creators' Night</button></a>
					<p class="half-margin-top half-margin-bottom"><button class="button small light round">Bring Zaplings to your city</button></p>
					<button class="button small light round">Our mission</button>
				</div>
			</div>
			
			<div class="show-for-small-only">
				<div class="row two-margin-top">
					<div class="centerText small-12 columns">
						<img class="alt-home-logo" src="{% static "./images/header-logo.svg" %}"onerror="this.onerror=null; this.src='{% static "./images/header-logo.png" %}'" alt="Zaplings logo" width="171px" height="77px"/>

						<h3 class="three-halves-margin-top">Let's help each other<br>bring great ideas to life.</h3>
					</div>
				</div>
				<div class="row add-margin-top">
					<div class="small-11 small-centered columns centerText">
						<p>Zaplings is a community of creators making social impact, business, and art. Join us for Creators' Night on the last Wednesday of every month in Austin, Texas.
						</p>
					</div>
				</div>
				<div class="row add-margin-top centerText">
					<a href="{% url "zaplings:creatorsnight" %}"><button class="button success small round">Check out Creators' Night</button></a>
					<p class="half-margin-top half-margin-bottom"><button class="button tiny light round">Bring Zaplings to your city</button></p>
					<button class="button tiny light round">Our mission</button>
				</div>
			</div>
			<div class="row">
				<div class="single-item">
					{% static "images/" as images %}
					{% for featured_idea in featured_ideas %}
				  	<div>
					 	<div class="small-4 columns">
							<img class="featured-images" src="{{images}}featured-idea-{{featured_idea.id}}.png" width="88px" alt="slide {{featured_idea.id}}" />
						</div>
						<div class="small-8 columns">
							<p class="featured-title large">{{ featured_idea.idea.title }}</p>
							<p class="featured-description aside">{{ featured_idea.idea.tagline }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		
			<div class="push"></div>
		</div>
		
		{% include "./zaplings/footer.html" %}
			
	    <script src="{% static "js/foundation.min.js" %}"></script>	
		<script type="text/javascript">
	  		$(document).foundation();
		</script>
		<script type="text/javascript" src="{% static "./slick/slick.min.js" %}"></script> 
		<script src="{% static "./js/home-slider.js" %}"></script>
		
		{% include "./zaplings/end-scripts.html" %}
	</body>
</html>