<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>  
    
        {% include "./zaplings/head.html" %}
        <link rel="stylesheet" href="{% static "superslides/dist/stylesheets/superslides.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        <script src="{% static "./js/jquery-ui-1.11.0.custom/jquery-ui.min.js" %}"></script>

        <script type="text/javascript" src="{% static "./jq-image-drag/script/jquery.imagedrag.js" %}"></script>

        <script type="text/javascript">
            $(function(){
               $('.header-parent').imagedrag({
               input: '#output',
               position: 'middle',
               attribute: 'html'
               }); 
            });
        </script>
    </head>
    <body>
      
        <div class="wrapper">

            {% include "./zaplings/header.html" %}

            <div class="header-parent">
                <img class="header-img" src="{% static "images/jet2.jpg" %}">
            </div>
            
            <div class="relative-container">
                <img class="profile-pic" src="{% static "./images/featured-idea-4.png" %}"/>
                <a href=""><button class="choose-images button light small round">Choose images</button></a>
                <div class="reposition-info">Drag to reposition (<span id="output"></span></div>
            </div>
            <div class="row">
                <div class="profile-name medium-6 medium-centered columns">
                    <div class="centerText add-margin-bottom"><button class="button small light round">Edit profile photo</button></div>
                    <input id="last-name" type="text" placeholder="Last name" name="user-lastname" value="{{ user.last_name }}"/>
                    <div class="overflow-div"><input id="first-name" type="text" placeholder="First name" name="user-firstname" value="{{ user.first_name }}"/></div>
                
                    <input id="user-mission" type="text" class="centerText" name="user-mission" placeholder="Your current mission" value="">
                    <input id="user-website" type="text" class="centerText" name="user-email" placeholder="Your website (optional)">
                </div>
            </div>

        
            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script> 
        <script type="text/javascript">
            $(document).foundation();
        </script>

        {% include "./zaplings/superslides-scripts.html" %}

        <script type="text/javascript">
        $(document).ready(function(){
            $('#slides').superslides({
                inherit_height_from: '.profile-header-img'
            });
                       
            $(".header-parent").each(function(){
                // Uncomment the following if you need to make this dynamic
                var refH = $(this).height();
                var refW = $(this).width();
                var refRatio = refW/refH;

                var imgH = $(this).children("img").height();
                var imgW = $(this).children("img").width();

                if ( (imgW/imgH) < refRatio ) { 
                    $(this).addClass("portrait");
                } else {
                    $(this).addClass("landscape");
                }
            });           
        });
        </script>
        
        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>