<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "./js/check_browser_close.js" %}"></script>

  </head>
  <body>
	  
	<div class="wrapper">

		{% include "./zaplings/header.html" %}
	  		
		<h2 class="titleCenter"><span id="timer" style="">30</span> seconds (or more):<br> What do you love?</h2>
		<form id="love-tags" action="{% url "zaplings:record_loves" %}" method="post">
		    {% csrf_token %}
	  		<div class="row">
				<div class="large-6 medium-6 small-12 medium-offset-3 columns">
					<input class="input-tags" type="text" placeholder="I love... (press return to add)"/>
					<div class="continue-delay hidden">Keep going! More tags allow stronger connections.
						<div class="continue-tags">
							<a href="{% url "zaplings:offers" %}">
								<button type="submit" class="button success round small">Next: What do you offer?</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-8 medium-8 small-12 columns medium-offset-2">
					<div class="suggestion-box">
					{% for suggested_love in suggested_loves %} 
						<input id="love-suggest-{{ suggested_love.id }}" class="vis-hidden" type="checkbox" name="love-tag" value="{{ suggested_love.id }}">
							<label class="tag button small light round" for="love-suggest-{{ suggested_love.id }}"> {{ suggested_love.tagname }} </label>
{% endfor %}
					</div>
				</div>
			</div>	
		</form>

		<div id="signup-reveal" class="reveal-modal" data-reveal>
			{% include "./zaplings/signup-reveal.html" %}
		</div>


		<div class="push"></div>
		</div>

		{% include "./zaplings/footer.html" %}
		
    <script src="{% static "js/foundation.min.js" %}"></script>	
	<script type="text/javascript">
  		$(document).foundation();
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var loveNum = 12;
			$('body').one('click',function(){
			
			var count=30;
			var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

			function timer()
			{
			  count=count-1;
			  $('#timer').attr("style", "color: #70bf4f");
			  if (count < 29)
			  {
			     clearInterval(counter);
				 $('.continue-delay').removeClass('hidden');
			     return;
			  };

			  document.getElementById("timer").innerHTML=count; // watch for spelling
			};
		});
				
				
			$('.input-tags').keypress(function (e) {
				var text = $(this).val();
					if (e.which == 13 && text != '') {
						loveNum++;
						$('.input-tags').val('');						
				  		$('.suggestion-box').prepend('<input id="love-suggest-'+loveNum+'" class="vis-hidden" type="checkbox" name="love-tag" value="'+loveNum+'" checked><label class="tag button small light round" for="love-suggest-'+loveNum+'">'+text+'</label>');
						e.preventDefault();	
						$(this).focus().select().attr("placeholder", "");
					}
			});
			
			$('.suggestion-box').on('click', 'label', (function(){
				$(this).toggleClass('selected').blur();
			}));

			$('#love-tags').submit(function() {
				var values = $('#love-tags').serialize();
			});
		});
	</script>
 
 </body>
</html>

