<!--  Button tabs  -->

<div class="blog-tabs centerText">
    <div class="blog-tab">
        <input type="radio" id="art-tab" name="tab-group-1">
        <label for="art-tab" class="button small round light">Art</label>
    </div>
    <div class="blog-tab">
        <input type="radio" id="music-tab" name="tab-group-1">
        <label for="music-tab" class="button small round light">Music</label>
    </div>
    <div class="blog-tab">
        <input type="radio" id="ideas-tab" name="tab-group-1">
        <label for="ideas-tab" class="button small round light">Ideas</label>
    </div>
    <div class="blog-tab">
        <input type="radio" id="all-tab" name="tab-group-1">
        <label for="all-tab" class="button small round light">All</label>
    </div>
</div>