<!-- myideas -->
<!doctype html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "./style.css" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>

      {% include "./zaplings/start-scripts.html" %}
    </head>
    <body>
      <div class="wrapper">
        {% include "./zaplings/header.html" %}
        
        <div class="row full-width">
          <div class="list-heading medium-3 medium-offset-2 small-5 columns">
            <h3>My ideas</h3>
          </div>
          <div class="rightText list-heading medium-5 small-7 columns end">
            <a href="{% url "zaplings:newidea" %}"><button id="add-idea" class="button round success">Add new</button></a>
          </div>
        </div>

        <div class="row full-width">
          <div class="medium-8 medium-offset-2 columns">
            <ul class="idea-feed">
              <li>
            <!-- Needs idea variables and link to idea page -->
                <div class="idea-feed-content">
                  <a href="#">
                    <img class="hide-for-small-only idea-feed-img" src="{% static "./images/leaf-circle.png" %}" height="88px" width="88px">
                    <img class="show-for-small-only idea-feed-img-small" src="{% static "./images/leaf-circle.png" %}" height="60px" width="60px">
                  </a>
                  <div class="overflow-div">
                  <!-- if idea has idea page -->
                    {% if idea %}
                    <a class="no-decoration idea-feed-text" href="{% url "zaplings:edit-idea-page" %}">
                    {% else %}
                    <a href="{% url "zaplings:newidea" %}" class="no-decoration idea-feed-text">
                    {% endif %}
                    <h5 class="idea-feed-title">Bam's Brussel Sprouts 25ch</h5>
                    <p class="idea-feed-description">A short sweet slogan goes here (100 character max) A short sweet slogan goes here (100 character max</p></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>       
        </div>

        <div id="edit-details-reveal" class="reveal-modal" data-reveal>
          {% include "./zaplings/edit-details-reveal.html" %}
        </div>
        
        <div class="push"></div>
      </div>
      
      {% include "./zaplings/footer.html" %}

      <script src="js/foundation.min.js"></script>
      <script type="text/javascript">
      $(document).foundation();
      </script>
      
      {% include "./zaplings/end-scripts.html" %}
    </body>
  </html>