<!-- myideas -->
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="style.css" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
      <script src="js/vendor/modernizr.js"></script>
      <script src="js/prefixfree.min.js"></script>
      <script src="{% static "./mmenu-master/src/js/jquery.mmenu.min.js" %}" type="text/javascript"></script>
      <link href="{% static "./mmenu-master/src/css/jquery.mmenu.all.css" %}" type="text/css" rel="stylesheet" />
    </head>
    <body>
      <div class="wrapper">
        {% include "./zaplings/header.html" %}
        
        <div class="row my-ideas">
          <div class="medium-8 medium-offset-2 columns">
            <div class="row">
              <div class="medium-5 small-6 columns">
                <h2 class="titleMargin">My ideas</h2>
              </div>
              <div class="medium-7 columns small-6 text-right">
                <a href="#" class="button success round titleMargin">Add a new idea</a>
                <!-- the interaction for adding new ideas belongs here ~MC -->
              </div>
            </div>
            <!-- .row.idea*3>a[href="startidea.html"]>.small-3.medium-2.columns>img.right^+.small-9.medium-10.columns>h3{Bam's Brussel Sprouts}+p{The best spicy sprouts you ever did taste!} -->
            <div class="row idea">
              <a href="startidea.html">
                <div class="small-12 column idea-text clearfix">
                  <img src="images/leaf-circle-1.png" alt="" class="left hide-for-small">
                  <img src="images/leaf-circle-1.png" alt="" class="left show-for-small">
                  <h3>Bam's Brussel Sprouts</h3>
                  <p>A short sweet slogan goes here. (50 character max) A short sweet slogan goes here. (50 character max)</p>
                </div>
              </a>
            </div>
            <div class="row idea">
              <a href="startidea.html">
                <div class="small-12 column idea-text clearfix">
                  <img src="images/leaf-circle-2.png" alt="" class="left hide-for-small">
                  <img src="images/leaf-circle-2.png" alt="" class="left show-for-small">
                  <h3>Bam's Brussel Sprouts</h3>
                  <p>A short sweet slogan goes here. (50 character max) A short sweet slogan goes here. (50 character max)</p>
                </div>
              </a>
            </div>
            <div class="row idea">
              <a href="startidea.html">
                <div class="small-12 column idea-text clearfix">
                  <img src="images/leaf-circle-3.png" alt="" class="left hide-for-small">
                  <img src="images/leaf-circle-3.png" alt="" class="left show-for-small">
                  <h3>Bam's Brussel Sprouts</h3>
                  <p>A short sweet slogan goes here. (50 character max) A short sweet slogan goes here. (50 character max)</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="push"></div>
      </div>
      <div class="footer row full-width">
        <div class="social-media">
          <a href="#"><img class="social-button" src="./images/facebook-icon.png" alt="Facebook"></a>
          <a href="#"><img class="social-button" src="./images/twitter-icon.png" alt="Twitter"></a>
          <a href="#"><img class="social-button" src="./images/linkedin-icon.png" alt="LinkedIn"></a>
        </div>
      </div>
      <script src="js/vendor/jquery.js"></script>
      <script src="js/foundation.min.js"></script>
      <script type="text/javascript">
      $(document).foundation();
      </script>
      <script type="text/javascript" src="{% static "./js/mobile-menu.js" %}"></script>
    </body>
  </html>