<!-- startidea / new-book -->
<!doctype html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Connect to create.</title>
    <link rel="stylesheet" href="{% static "./style.css"%}" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
      
      {% include "./zaplings/start-scripts.html" %}
    </head>
    <body>
      <div class="wrapper">
        
        {% include "./zaplings/header.html" %}

        <div class="row text-center">
          <div class="medium-8 medium-offset-2 column">
          {% if not user.idea %}
            <h3 class="titleCenter">Start your private idea book</h3>
          {% else %}
            <h3 class="titleCenter">Add a new idea</h3>
          {% endif %}
          </div>
        </div>

        <form id="form-new-idea" action="{% url 'zaplings:error' %}" method="post"> <!-- insert form action / submit.php / etc here ~MC -->       {% csrf_token %}  
          <div class="row">
              <div class="medium-5 medium-offset-2 small-7 column">
                <input type="text" id="idea-title" name="idea-title" value="{{ idea.title }}" placeholder="Idea name">
              </div>
              <div class="medium-3 small-5 column end">
                <select name="idea-type" id="idea-type">
                  <option value="no-type-selected" disabled selected>Idea type</option>
                  <option value="idea-service">Service</option>
                  <option value="idea-product">Product</option>
                  <option value="idea-cause">Cause</option>
                  <option value="idea-art">Art</option>
                  <option value="idea-project">Project</option>
                  <option value="idea-event">Event</option>
                  <option value="idea-fun">Fun</option>
                </select>
              </div>
          </div>
          <div class="row">
            <div class="medium-8 medium-offset-2 columns end">
              <textarea name="idea-description" id="idea-description" cols="30" rows="1" placeholder="A short sweet slogan goes here (100 characters max)" value="{{ idea.description }}" maxlength="100"></textarea>
              <textarea name="idea-notes" id="idea-notes" {% if not idea.notes %}class="hidden" {% endif %} rows="3" placeholder="Notes"></textarea>
            </div>
          </div>
          <div class="row controls">
            <div class="medium-8 medium-offset-2 columns end">
            {% if not idea.notes %}
              <button id="add-notes" class="button small round light">Add notes</button>
              {% endif %}
              <a href="#"><button type="submit" class="button small round light">Save</button></a>
              <button class="button small round light" data-reveal-id="modal-share-now">Share Now</button>
              <a href="#"><button type="submit" class="button small round success">Start idea page</button></a>

            </div>
          </div>
      </form>
  <div class="push"></div>
</div>

  {% include "./zaplings/footer.html" %}

<!-- end of modals ~MC -->
<!--
for some reason they still don't work properly - the events fire correctly but nothing is displayed. Might there be something in the base classes that causes this?
need to investigate - first step is locating a clean copy of the big scss file which is normally pre-split and compiled into app.scss by bower or grunt.
-->

<script src="js/foundation.min.js"></script>
<script type="text/javascript">$(document).foundation();</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#add-notes").click(function(){
      $("#idea-notes").removeClass('hidden');
      $(this).remove();
        return false;
    });

    $('button').click(function(){
      $(this).blur();
    });
  });
</script>

{% include "./zaplings/end-scripts.html" %}
</body>
</html>