<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% "style.css" %}" />
	<link href="{% static "http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300" %}" rel='stylesheet' type='text/css'>
    <script src="{% static "./js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
  </head>
  <body>
	  
	<div class="wrapper">
	  <header class="row header full-width">
		  <div class="header-left medium-7 medium-offset-1 hide-for-small-only columns">
			  <a href="{% static "./index.html" %}"><img class="headerLogo" src="{% static "./images/header-logo.png" %}" alt="Zaplings logo" width="90px" height="44px"/></a>
			  <a href="{% static "./startidea.html" %}"><button class="new-idea button small radius">What's your great idea?</button></a>
		  </div>		

		  <div class="header-left small-10 show-for-small-only columns">
			  <a href="{% static "./index.html" %}"><img class="headerLogo" src="{% static "./images/header-logo.png" %}" width="90px" height="44px"/></a>
			  <a href="{% static "./startidea.html" %}"><button class="small-new-idea button small radius">What's your great idea?</button></a>
		  </div>
		  
		  <div class="header-learn large-3 medium-4 hide-for-small-only columns end">
			  <a href="#" data-dropdown="drop1" class="button round small dropdown">Learn more</a><br>
			  <ul id="drop1" data-dropdown-content class="f-dropdown">
				    <li><a href="{% static "./howitworks.html" %}">How it works</a></li>
				    <li><a href="{% static "./faq.html" %}">FAQ</a></li>
				    <li><a href="{% static "./about.html" %}">About</a></li>
					<li><a href="{% static "./getinvolved" %}">Get involved</a></li>
				  </ul>
		  </div>
	  
		  <div class="header-learn show-for-small-only small-2 columns">
			  <a href="#" data-dropdown="drop1" class="menu-button"><img src="./images/three-lines.png" alt="Menu" width="30px" height="30px"></a><br>
				  <ul id="drop1" data-dropdown-content class="f-dropdown">
				    <li><a href="{% static "./howitworks.html" %}">How it works</a></li>
				    <li><a href="{% static "./faq.html" %}">FAQ</a></li>
				    <li><a href="{% static "./about.html" %}">About us</a></li>
					<li><a href="{% static "./getinvolved.html" %}">Get involved</a></li>
				  </ul>
		  </div>
		  
		    
	  </header>
	  
		<h2 class="titleCenter"><span id="timer" style="">30</span> seconds: What do you offer?</h2>
  		<div class="row">
			<div class="centerText large-6 medium-6 small-12 medium-offset-3 columns">
				<input class="input-tags" type="text" placeholder="I offer... (press return to add)"/>
				<a href="#" data-reveal-id="mic-reveal"><button class="button round success small">Answer with microphone</button></a>
			</div>
		</div>
		
		<div id="mic-reveal" class="reveal-modal" data-reveal>
			<h3>Adding tags with the microphone</h3>
			<p>Follow these guidelines to quickly share what you love, offer, or need:</p>
			<p><em>Limit tags to 3 words or less.</em> Shorter tags are selected by more people, which helps us match you more easily.</p>
			<p><em>Say "and" between tags.</em> This lets us know where one tag ends and another begins. Avoid using other filler words between tags. (You can say "I love", "I offer", or "I need" between tags too.)</p>
			<p><em>Speak clearly, and take your time.</em> This improves voice recognition accuracy. (If it doesn't work, blame Google.)</p>
			<p><em>Check for accuracy.</em> Once the microphone stops, you will see your tags added. For any incorrect tags, unclick that tag and type the correct tag in the input box.</p>
			<div><button class="button success round">Use the mic</button></div>
			<a id="no-mic" class="close-reveal-modal">I'll type instead</a>
			
		</div>	
		
		<div class="row">
			<div class="large-8 medium-8 small-12 columns medium-offset-2">
				<div class="suggestion-box">
					
					{% for offer in offers %}
					
					<input id="offer-suggest-{{ offer-id }}" class="vis-hidden" type="checkbox" name="offer-tag[]" value="{{ offer }}">
						<label class="tag button small light round" for="offer-suggest-{{ offer-id }}">{{ offer }}</label>

					{% end for %}

				</div>
			</div>
		</div>	


		<div class="push"></div>
		</div>
		<div class="footer row full-width">
			<div class="social-media">
				<a href="#"><img class="social-button" src="./images/facebook-icon.png" alt="Facebook"></a>
				<a href="#"><img class="social-button" src="./images/twitter-icon.png" alt="Twitter"></a>
				<a href="#"><img class="social-button" src="./images/linkedin-icon.png" alt="LinkedIn"></a>
			</div>	
		</div>	
			
			

    
    <script src="js/foundation.min.js"></script>
			
	<script type="text/javascript">
  		$(document).foundation();
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			$('body').one('click',function(){
			
			var count=30;
			var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

			function timer()
			{
			  count=count-1;
			  $('#timer').attr("style", "color: #70bf4f");
			  if (count < 0)
			  {
			     clearInterval(counter);
				 $('.input-tags').after('<div class="continue-delay">Take as much time as you need!</div><div class="continue-tags"><a href="{% static "./needs.html" %}"><button class="button success round small">Next: What do you need?</button></div>');
			     return;
			  };

			  document.getElementById("timer").innerHTML=count; // watch for spelling
			};
		});
				
			var num = 12;		
			
			$('.input-tags').keypress(function (e) {
				var text = $(this).val();
					if (e.which == 13 && text != '') {
						num = num+1;
						$('.input-tags').val('');						
				  		$('.suggestion-box').prepend('<input id="offer-suggest-'+num+'" class="vis-hidden" type="checkbox" name="offer-tag[]" value="'+text+'" checked><label class="tag button small light round" for="offer-suggest-'+num+'">'+text+'</label>');
						return false;	
						$(this).focus().select().attr("placeholder", "");
					}

			});	
			$('.suggestion-box').on('click', 'label', (function(){
				$(this).toggleClass('selected').blur();
			}));
		});
		

	</script>
  </body>
</html>