<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>  
    
        {% include "./zaplings/head.html" %}
    
    </head>
    <body>
      
        <div class="wrapper">

            {% include "./zaplings/header.html" %}
            
            <h2 class="titleCenter">Our mission</h2>
            <div class="row">
                <div class="small-10 small-centered medium-8 columns">
                    <p class="lead">To build the best place to share a new idea and find help to grow it.</p>
                    <p class="lead">To become a testing ground for tools that help you create.</p>
                    <p class="lead">To grow meaningful, creative, real-life community.</p>
                    <p class="lead">To move ideas forward every step of the creation process, from inspiration to implementation.</p>
                    <p class="lead"></p>
                </div>
            </div>
            
            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script> 
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>