<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="style.css" />
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="./js/vendor/modernizr.js"></script>
  </head>
  <body>
	  
	<div class="wrapper">
	  	
	  	{% include "./zaplings/header.html" %}
	 
		<div class="row hide-for-small-only">
			<div class="medium-4 medium-offset-4 columns">
				<img class="profile-image" src="./images/default-profile.png" alt="Profile image" width="75px" height="75px"/>
			</div>
		</div>
		
		<div class="row hide-for-small-only">
			<div class="medium-8 medium-offset-2 columns end">
				<h4 class="centerText">dannypernik@gmail.com</h4></div>
			<div class="medium-6 medium-offset-3 columns end">
				<p class="centerText">Start your profile:</p>
				<form id="form-signup" class="centerText">
						<input id="last-name" type="text" placeholder="Last name"/>
						<div id="overflow-div"><input id="first-name" type="text" placeholder="First name"/></div>
						<span id="username-link">zaplings.com/</span>
						<span class="input-sizer"><input id="username" type="text" placeholder="username"/></span>
						<input id="verify" type="password" placeholder="Verify password">
						<div id="overflow-div"><input id="password" type="password" placeholder="Password"/></div>
						<button type="submit" class="button success round">Create profile</button>
				</form>
			</div>
		</div>
		
		<div class="row show-for-small-only">
			<div class="small-10 small-offset-1 columns">
				<img class="small-profile-image" src="./images/default-profile.png" alt="Profile image" width="75px" height="75px"/>
				<form id="form-signup" class="centerText">
						<h4 class="centerText">dannypernik@gmail.com</h4>
						<p class="centerText">Start your profile here:</p>
						<input id="last-name" type="text" placeholder="Last name"/>
						<div id="overflow-div"><input id="first-name" type="text" placeholder="First name"/></div>
						<span class="fit-left">zaplings.com/</span>
						<span class="input-sizer"><input id="username" type="text" placeholder="username"/></span>
						<input id="verify" type="password" placeholder="Verify password">
						<div id="overflow-div"><input id="password" type="password" placeholder="Password"/></div>
						<button type="submit" class="button success round">Create profile</button>
				</form>		
			</div>
		</div>	
		
<!--		<div class="row full-width">
			<div id="profile-info" class="medium-8 small-10 small-offset-1 medium-offset-2 columns">
				<div class="intro-questions"><a href="loves.html"><button class="button success large round">What do you love?</button></a></div>
				<button class="intro-questions button round small disabled">What do you offer?</button>
				<button class="intro-questions button round small disabled">What do you need?</button>
			</div>	
		</div>
-->
				<div class="push"></div>
			</div>
			<div class="footer row full-width">
				<div class="social-media">
					<a href="#"><img class="social-button" src="./images/facebook-icon.png" alt="Facebook"></a>
					<a href="#"><img class="social-button" src="./images/twitter-icon.png" alt="Twitter"></a>
					<a href="#"><img class="social-button" src="./images/linkedin-icon.png" alt="LinkedIn"></a>
				</div>	
		</div>
		
    <script src="js/foundation.min.js"></script>		
	<script type="text/javascript">
	  $(document).foundation();
	</script>
  </body>
			