<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="style.css" />
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
	 <div class="wrapper">

	 	{% include "./zaplings/header.html" %}
	 
		<div class="row hide-for-small-only">
			<div class="medium-6 medium-offset-3 columns">
				<img class="profile-image" src="./images/default-profile.png" alt="Profile image" width="75px" height="75px"/>
			</div>
			<div class="rightText medium-3 columns end">
				<button id="edit-profile" class="button small round light">Edit profile</button>		
			</div>
		</div>
		
		<div class="row hide-for-small-only">
			<div class="medium-6 medium-offset-3 columns">
				<h3 class="centerText">{{ firstName }} {{ lastName }}</h3>
			</div>
		</div>
		
		<div class="row show-for-small-only">
			<div class="small-12 columns">
				<img class="small-profile-image" src="./images/default-profile.png" alt="Profile image" width="75px" height="75px"/>
				<h3 class="centerText">{{ firstName }} {{ lastName }}</h3>		
			</div>
		</div>	
		
		<div class="row show-for-small-only">
			<div class="small-12 centerText columns">
				<div><button class="button small light round">Edit profile</button></div>
			</div>	
		</div>	
		<form>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<h4 class="section-header">What I love</h4>
					{{ user.love-text }}
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
					
				{% for love in user.loves %}	
				
					<input id="love-{{ user.love-id }}" class="vis-hidden" type="checkbox" name="love-tag[]" value="{{ love }}">
						<label class="tag button small round" for="love-{{ user.love-id }}">{{ love }}</label>
						
				{% end for %}		
				
				</div>
			</div>
			
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<h4 class="section-header">What I offer</h4>
					{{ user.offer_text }}
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
					
 				{% for offer in user.offers %}	
				
 					<input id="offer-{{ offer-id }}" class="vis-hidden" type="checkbox" name="offer-tag[]" value="{{ offer }}">
 						<label class="tag button small round" for="offer-{{ offer-id }}">{{ offer }}</label>
						
 				{% end for %}	

				</div>		
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<h4 class="section-header">What I need</h4>
					{{ user.need_text }}
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
					
					{% for need in user.needs %}	
				
						<input id="need-{{ need-id }}" class="vis-hidden" type="checkbox" name="need-tag[]" value="{{ need }}">
							<label class="tag button small round" for="need-{{ need-id }}">{{ need }}</label>
						
					{% end for %}
					
				</div>		
			</div>
		</form>	
				<div class="push"></div>
			</div>

			{% include "./zaplings/footer.html" %}	
 
		<script src="{% static "js/foundation.min.js" %}"></script>		
		<script type="text/javascript">
	  		$(document).foundation();
		</script>
				
  </body>
			