<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>
  <body>
	  
	<div class="wrapper">

		{% include "./zaplings/header.html" %}
	 
		<div class="row hide-for-small-only">
			<div class="medium-4 medium-offset-4 columns">
				<img class="profile-image" src="{% static "./images/default-profile.png" %}" alt="Profile image" width="75px" height="75px"/>
			</div>
			<div class="medium-4 columns">
				<button id="change-image" class="button small round light">Change profile image</button>		
			</div>
		</div>
		
		<div class="row hide-for-small-only">
			<div class="medium-4 medium-offset-4 columns">
				<h3 class="centerText">{{ username }}</h3>
			</div>
			<div class="medium-3 columns end">
				<button id="change-name" class="button small round light">Use your real name</button>		
			</div>
		</div>
		
		<div class="row show-for-small-only">
			<div class="small-10 small-offset-1 columns">
				<img class="small-profile-image" src="{% static "./images/default-profile.png" %}" alt="Profile image" width="75px" height="75px"/>
				<h3 class="centerText">{{ username }}</h3>		
		</div>	
		
		<div class="row show-for-small-only">
			<div class="small-12 centerText columns">
				<button class="button tiny round light">Change image</button>
				<button class="button tiny round light">Use your real name</button>
			</div>	
		</div>	
		
		<div class="row full-width">
			<div id="profile-info" class="medium-8 small-10 small-offset-1 medium-offset-2 columns">
				<button class="intro-questions button success large round">What do you love?</button>
				<button class="intro-questions button round small disabled">What do you offer?</button>
				<button class="intro-questions button round small disabled">What do you need?</button>
			</div>	
		</div>	
		<div class="push"></div>
	</div>

	{% include "./zaplings/footer.html" %}		
		
  </body>
			
