<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="{% static "./js/vendor/modernizr.js" %}"></script>
	<script src="{% static "./js/vendor/jquery.js" %}"></script>
  </head>
  <body>
	<div class="wrapper">
	 	{% include "./zaplings/header.html" %}
	 
		<div class="row hide-for-small-only">
			<div class="medium-6 medium-offset-3 columns">
				<img class="profile-image" src="{% static "./images/default-profile.png" %}" alt="Profile image" width="75px" height="75px"/>
			</div>
			<div class="rightText medium-3 columns end">
				<button id="change-image" class="button small round light">Change image</button>		
			</div>
		</div>
		
		<div class="row hide-for-small-only">
			<div class="medium-6 medium-offset-3 columns">
				<h3 class="centerText">{{ firstName }} {{ lastName }}</h3>
			</div>
			<div class="rightText medium-3 columns end">
				<a href="#" data-reveal-id="edit-name-reveal"><button id="edit-name" class="button small round light">Edit name</button></a>
			</div>
		</div>
		
		<div class="row show-for-small-only">
			<div class="small-12 columns">
				<img class="small-profile-image" src="{% static "./images/default-profile.png" %}" alt="Profile image" width="75px" height="75px"/>
				<h3 class="centerText">{{ firstName }} {{ lastName }}</h3>		
			</div>
		</div>	
		
		<div class="row show-for-small-only">
			<div class="small-12 centerText columns">
				<a href="#" data-reveal-id="change-image-reveal"><button class="button tiny round light">Change image</button></a>
				<a href="#" data-reveal-id="edit-name-reveal"><button class="button tiny round light">Edit name</button></a>
			</div>	
		</div>	
		
		<div id="change-image-reveal" class="reveal-modal" data-reveal>
			<h3>Change profile image</h3>
			<input id="profile-image-upload" type="file"/>
		</div>
		
		<div id="edit-name-reveal" class="reveal-modal" data-reveal>
			<form id="full-name">
				<div class="medium-8 small-12 columns end">
					<h3>Edit name</h3>
					<input id="last-name" type="text" placeholder="Last name" value="{{ lastName }}"/>
					<div class="overflow-div"><input id="first-name" type="text" placeholder="First name" value="{{ firstName }}"/></div>
					<div>
						<button type="submit" class="button round success">Save</button>
						<button class="button round light">Cancel</button>
					</div>	
				</div>
			</form>
		</div>
		
		<form>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<div class="centerText"><button type="submit" class="button small success round">Save and view</button></div>
					<h4 class="section-header">What I love</h4>
					<textarea id="love-text" rows="2" placeholder="Share to your heart's content"/></textarea>
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
{% for tag in selected_loves %} 
                    <p> {{tag}} </p>
{% endfor %}				
					<input id="love-1" class="vis-hidden" type="checkbox" name="love-tag[]" value="love-tag-1">
						<label class="tag button small round" for="love-1">love tag 1</label>
					<input id="love-2" class="vis-hidden" type="checkbox" name="love-tag[]" value="love-tag-2">
						<label class="tag button small round" for="love-2">love tag 2</label>
					<input id="love-3" class="vis-hidden" type="checkbox" name="love-tag[]" value="love-tag-3">
						<label class="tag button small round" for="love-3">love tag 3</label>
					<input id="love-4" class="vis-hidden" type="checkbox" name="love-tag[]" value="love-tag-4">
						<label class="tag button small round" for="love-4">love tag 4</label>
					<a class="add-more" href="loves.html"><button class="button small light round">Add more...</button></a>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<h4 class="section-header">What I offer</h4>
					<textarea id="offer-text" rows="2" placeholder="How can you help others create?"/></textarea>
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
					<input id="offer-1" class="vis-hidden" type="checkbox" name="offer-tag[]" value="offer-tag-1">
						<label class="tag button small round" for="offer-1">offer tag 1</label>
					<input id="offer-2" class="vis-hidden" type="checkbox" name="offer-tag[]" value="offer-tag-2">
						<label class="tag button small round" for="offer-2">offer tag 2</label>
					<input id="offer-3" class="vis-hidden" type="checkbox" name="offer-tag[]" value="offer-tag-3">
						<label class="tag button small round" for="offer-3">offer tag 3</label>
					<input id="offer-4" class="vis-hidden" type="checkbox" name="offer-tag[]" value="offer-tag-4">
						<label class="tag button small round" for="offer-4">offer tag 4</label>
					<a class="add-more" href="offers.html"><button class="button small round light">Add more...</button></a>
				</div>		
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">
					<h4 class="section-header">What I need</h4>
					<textarea id="need-text" rows="2" placeholder="How can others help you create?"/></textarea>
				</div>
			</div>
			<div class="row">
				<div class="medium-8 small-12 medium-offset-2 columns">	
					<input id="need-1" class="vis-hidden" type="checkbox" name="need-tag[]" value="need-tag-1">
						<label class="tag button small round" for="need-1">need tag 1</label>
					<input id="need-2" class="vis-hidden" type="checkbox" name="need-tag[]" value="need-tag-2">
						<label class="tag button small round" for="need-2">need tag 2</label>
					<input id="need-3" class="vis-hidden" type="checkbox" name="need-tag[]" value="need-tag-3">
						<label class="tag button small round" for="need-3">need tag 3</label>
					<input id="need-4" class="vis-hidden" type="checkbox" name="need-tag[]" value="need-tag-4">
						<label class="tag button small round" for="need-4">need tag 4</label>
					<a class="add-more" href="needs.html"><button class="button small round light">Add more...</button></a>
				</div>		
			</div>
			<div class="centerText add-margin-top"><button type="submit" class="button small success round">Save and view</button></div>
		</form>	
		<div class="push"></div>
	</div>
	
	{% include "./zaplings/footer.html" %}
 
		<script src="{% static "js/foundation.min.js" %}"></script>		
		<script type="text/javascript">
	  		$(document).foundation();
		</script>
				
  </body>
			
