<form>
<h3>Heads up! Your idea is about to be public</h3>
<p>A couple things to know before you proceed:</p>
<p><strong>It's not "your" idea until you do it.</strong> Chances are other people have the idea too. Sharing your idea is a great way to keep moving forward and build a great team.</p>
<p><strong>If you want to get a patent,</strong> be careful about the information you share on your idea page. An idea itself cannot be patented, only the <em>execution</em> of an idea, so details such as product design or technical processes should only be shared with individuals you trust.</p>

<input type="checkbox" name="understand" value="understand"/>I understand the statements above and wish to make my idea public.
	<div>
		<button type="submit" class="button small round success">Continue</button></a>
		<button class="close-reveal-modal button small round light">Cancel</button>
	</div>
</form>
