{% include "./zaplings/header.html" %}

<p>Hi {{ user.first_name }}, thank you for your Rsvp to Creators' Night. 
</p>
<p>Our goal for Creators' Night 

Here's some of what's in store:</p>
<p>
- Open mic music, poetry, comedy, whatever<br>
- Idea contest<br>
- <a href="http://www.instagram.com/barteratx" target="_blank">bARTer</a> table<br>
- Performance by traveling family folk band <a href="http://www.thehollands.org" target="_blank">The Hollands!</a><br>
- Art by <a href="http://www.artofgent.com" target="_blank">Gent</a> and art auction<br>
- Talk by Donnie of <a href="http://www.sillyangelcards.com" target="_blank">SillyAngel Cards</a><br>
- Photography by <a href="http://www.holpphotography.com" target="_blank">Mike Holp</a><br>
- Videography by <a href="http://www.thestreetsaremine.com" target="_blank">Daniel LaFata<br>
</p>
<p>Sound fun? We're looking forward to it. Know anyone who might want to join? Forward this email or pass on the RSVP link:</p>
<p>
<a href="http://www.zaplings.com/creatorsnight" target="_blank">www.zaplings.com/creatorsnight</a></p>
<p>
See you there!<br>
Danny, Justin, and Nicko</p>
<p>
(Oh, did we mention it's free?)</p>
