<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zaplings | Connect to create.</title>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% include "./zaplings/start-scripts.html" %}
    
    </head>
    <body>
          <!-- AddThisEvent -->
        <script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
        <div class="wrapper">

            {% include "./zaplings/header.html" %}
              
            <h2 class="content-title">See you there!</h2>
            <p class="centerText">
                        <a href="http://www.zaplings.com/creatorsnight" title="Add to Calendar" class="addthisevent button small light round">
                        save the date
                        <span class="_start">02-04-2015 19:00:00</span>
                        <span class="_end">11-05-2015 21:30:00</span>
                        <span class="_zonecode">11</span>
                        <span class="_summary">Zaplings presents Creators' Night</span>
                        <span class="_description">Let's celebrate what we create!<br>
                        Featuring... Music: The Hollands - Art: Gent - Startup: SillyAngel Cards - Photography: Mike Holp - YOU: Share your art with open mic, bARTer table, idea contest, and more!<br>
                        RSVP at zaplings.com/creatorsnight and we'll introduce you to people who share your passion or offer what you need. Hope to see you there!</span>
                        <span class="_location">Space12, 3121 East 12th Street, Austin, TX 78702</span>
                        <span class="_organizer">Danny Pernik</span>
                        <span class="_organizer_email">dannypernik@gmail.com</span>
                        <span class="_facebook_event"></span>
                        <span class="_all_day_event">false</span>
                        <span class="_date_format">MM/DD/YYYY</span>
                        </a>
                    </p>
            <div class="row">
                <div class="medium-8 medium-offset-2 columns">
                    <p>We're excited you'll be joining us. Look for an email with all the details, and feel free to forward it to anyone who might be interested. Alternatively, copy and paste the invitation message below. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 medium-offset-2 columns">
                <textarea rows="3" id="invite-msg" name="invite">Want to come to Creators' Night on Weds Feb 4 at Space12? Featured music, art, startup, and nonprofit, open mic, and idea contest! RSVP here: www.zaplings.com/creatorsnight</textarea>
                </div>
            </div>
            <div class="row">
                <div class="centerText medium-8 medium-offset-2 small-12 columns end">
                    <button id="copy-invite" data-text-swap="Copied!" data-clipboard-target="invite-msg" class="button round success">copy text</button>
                    <!--<a href="{% url 'zaplings:creatorsnight' %}"><button id="copy-invite" class="button large round success">RSVP Form</button></a>-->
                    <!-- facebook sdk -->
                    <!-- post_to_facebook 'http://zaplings.com:8080/creatorsnight/' "Post to Facebook!" -->
                </div>
            </div>        
            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script>    
        <script type="text/javascript">
              $(document).foundation();
        </script>
        <script type="text/javascript">
            addthisevent.settings({
                mouse        : false,
                css            : false,
                outlook        : {show:true, text:"Outlook Calendar"},
                google        : {show:true, text:"Google Calendar"},
                yahoo        : {show:true, text:"Yahoo Calendar"},
                ical        : {show:true, text:"iCal Calendar"},
                hotmail        : {show:true, text:"Hotmail Calendar"},
                facebook    : {show:true, text:"Facebook Calendar"}
            });
        </script>
        <script src="{% static "./zeroclipboard-master/dist/ZeroClipboard.min.js" %}"></script>
        <script src="{% static "./js/copy2.js" %}"></script>
        
        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>
