<!doctype html>

{% load static %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Connect to create.</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>

    {% include "./zaplings/start-scripts.html" %}
  </head>
  <body>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		// async init once loading is done
		window.fbAsyncInit = function() {
		  FB.init({appId: 179150165472010, status: false});
		};
	</script>
	
	<div class="wrapper">
	 	
	 	{% include "./zaplings/header.html" %}

		<h2 class="centerText three-margin-top">Be the Connector.</h2>
		<div class="row">
			<div class="medium-8 medium-offset-2 small-12 columns">
				<div class="centerText">
					<a href="#" data-reveal-id="learn-connector" title="Learn more about badges"><img src="{% static "./images/connector-gold.png" %}" height="70px" width="70px"/></a>
				</div>
				<p class="add-margin-top">Earn this badge by inviting others to the community and making meaningful introductions for friends on Zaplings. You will be rewarded with introductions to other top Connectors to build your network further.</p>
			</div>
		</div>
		<div class="row">
			<div class="centerText medium-8 medium-offset-2 small-12 columns end">
				<button id="copy-link" data-text-swap="Copied!" data-clipboard-target="user-link" class="button round success">Copy</button>
				<div class="overflow-div"><input id="user-link" type="text" onClick="this.setSelectionRange(0, this.value.length)" value="http://www.zaplings.com/{{ user.username }}" readonly/></div>
			</div>
		</div>


		<div class="row">
			<div id="share-buttons" class="centerText add-margin-top medium-8 medium-offset-2 small-12 columns">
				<p>
					Share with your social networks:
		  		</p>
		  			<a href="http://www.facebook.com/sharer.php?u={{ request.get_full_path }}&t=Check%20out%20{{ idea.title }}%20on%20Zaplings%20at%20{{ request.get_full_path }}"><button class="button small round">Facebook</button></a>
					<a href="https://twitter.com/intent/tweet?text=Check%20out%20ideas%20at&url=http://zaplings.com&hashtags=zapling" target="_blank"><button class="button small round">Twitter</button></a>
					<a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.zaplings.com&title=Check%20out%20{{ idea.title }}%20on%20Zaplings.&summary=Share%20ideas,%20get%20feedback,%20and%20build%20a%20team.%20Zaplings%20introduces%20you%20to%20ideas%20you%27ll%20love%20and%20people%20you%27re%20looking%20for.&source=Zaplings" target="_blank"><button class="button small round">LinkedIn</button></a>
					<a href="#" onclick="popUp=window.open('https://plus.google.com/share?url=https://www.zaplings.com', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"><button class="button small round">Google+</button></a>
			</div>
		</div>

		<div class="row add-margin-top">
			<div class="centerText small-6 small-offset-3 columns end">
				<a href="{% url "zaplings:generate_profile" %}"><button class="button small light round">View profile</button></a>
			</div>
		</div>

		<div id="learn-connector-reveal" class="reveal-modal" data-reveal>
			<h3>Connector badges</h3>
		</div>	
	  
		<div class="push"></div>
	</div>
	
	{% include "./zaplings/footer.html" %}
	  
    <script src="{% static "js/foundation.min.js" %}"></script>	
  	<script type="text/javascript">
    		$(document).foundation();
  	</script>
    <script src="{% static "./zeroclipboard-master/dist/ZeroClipboard.min.js" %}"></script>
    <script src="{% static "./js/copy.js" %}"></script>

    <script type="text/javascript">
		function shareFB() {
			FB.ui({
			  method: 'share',
			  href: 'http://https://www.zaplings.com',
			}, function(response){});
		};
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
    	$('#share-buttons').on('click', 'button', (function(){
				$(this).blur();
			}));
    });
    </script>
    
    {% include "./zaplings/end-scripts.html" %}
	</body>
</html>
