<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>  
    
        {% include "./zaplings/head.html" %}
        
  </head>
  <body>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		// async init once loading is done
		window.fbAsyncInit = function() {
		  FB.init({appId: 179150165472010, status: false});
		};
	</script>
	
	<div class="wrapper">
	 	
	 	{% include "./zaplings/header.html" %}

		<h2 class="centerText three-margin-top">Be the Connector.</h2>
		<div class="row">
			<div class="medium-8 medium-offset-2 small-12 columns">
				<div class="centerText">
					<img src="{% static "./images/connector-gold.png" %}" height="70px" width="70px"/>
				</div>
				<p class="add-margin-top">Earn this badge by inviting others to the community with your unique link below. Eventually, you can earn a Connector badge by making meaningful introductions for friends on Zaplings. In return, we will introduce you to other top Connectors to grow your network further.</p>
			</div>
		</div>
		<div class="row">
			<div class="centerText medium-8 medium-offset-2 small-12 columns end">
				<button id="copy-link" data-text-swap="copied!" data-clipboard-target="user-link" class="button round success">copy</button>
				<div class="overflow-div"><input id="user-link" type="text" onClick="this.setSelectionRange(0, this.value.length)" value="http://www.zaplings.com/{{ user.username }}" readonly/></div>
			</div>
		</div>


<!--		<div class="row">
			<div id="share-buttons" class="centerText add-margin-top medium-8 medium-offset-2 small-12 columns">
				<p>
					Share with your social networks:
		  		</p>
		  			<a ><button class="button small round" onclick="shareFB()">Facebook</button></a>
					<a href="https://twitter.com/share?url=http%3A//www.zaplings.com&text=Check%20out%20Zaplings,%20a%20place%20to%20share%20new%20ideas%20and%20find%20help%20to%20make%20them%20happen." target="_blank"><button class="button small round">Twitter</button></a>
					<a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.zaplings.com&title=Create%20something%20with%20Zaplings.&summary=Share%20ideas,%20get%20feedback,%20and%20build%20a%20team.%20Zaplings%20introduces%20you%20to%20ideas%20you%27ll%20love%20and%20people%20you%27re%20looking%20for.&source=Zaplings" target="_blank"><button class="button small round">LinkedIn</button></a>
					<a href="#" onclick="popUp=window.open('https://plus.google.com/share?url=https://www.zaplings.com', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"><button class="button small round">Google+</button></a>
			</div>
		</div>

		<div class="row add-margin-top">
			<div class="centerText small-6 small-offset-3 columns end">
				<a href="{% url "zaplings:generate_profile" %}"><button class="button small light round">View profile</button></a>
			</div>
		</div>-->
	  
		<div class="push"></div>
	</div>
	
	{% include "./zaplings/footer.html" %}
	  
    <script src="{% static "js/foundation.min.js" %}"></script>	
  	<script type="text/javascript">
    		$(document).foundation();
  	</script>
    <script src="{% static "./zeroclipboard-master/dist/ZeroClipboard.min.js" %}"></script>
    <script src="{% static "./js/copy.js" %}"></script>

    <script type="text/javascript">
		function shareFB() {
			FB.ui({
			  method: 'share',
			  href: 'http://https://www.zaplings.com',
			}, function(response){});
		};
    </script>
    <script type="text/javascript">
    $(document).ready(function(){

    	$('#share-buttons').on('click', 'button', (function(){
				$(this).blur();
			}));
    });
    </script>
    
    {% include "./zaplings/end-scripts.html" %}
	</body>
</html>
