<!doctype html>

{% load static %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>

  </head>
  <body>
	  
	 <div class="wrapper">
	 	
	 	{% include "./zaplings/header.html" %}

		<h2 class="centerText three-margin-top">Are you a Connector?</h2>
		<div class="medium-8 medium-offset-2 small-12 columns">
			<div class="centerText">
				<a href="#" data-reveal-id="learn-connector" title="Learn more about badges"><img src="{% static "./images/connector-gold.png" %}" height="70px" width="70px"/></a>
			</div>
			<h4 class="centerText add-margin-top">Introduce us.</h4>
			<p class="add-margin-top">Connectors enjoy meeting new people and making introductions. Earn credit by inviting friends to Zaplings with your unique link below. Later, improve your standing by introducing friends to each other.</p>
		
			<div class="centerText medium-10 medium-offset-1 small-12 columns end">
				<button id="copy-link" class="button round success">Copy</button>
				<div class="overflow-div"><input id="user-link" type="text" value="http://www.zaplings.com/{{ user.username }}"/></div>
			</div>
		</div>
		<div class="row">
			<div class="centerText add-margin-top medium-8 medium-offset-2 small-12 columns">
				<p>
					Share with your social networks:
		  		</p>
					<a href="http://www.facebook.com" target="_blank"><button class="button small round">Facebook</button></a>
					<a href="http://www.twitter.com" target="_blank"><button class="button small round">Twitter</button></a>
					<a href="http://www.linkedin.com" target="_blank"><button class="button small round">LinkedIn</button></a>
					<a href="http://plus.google.com" target="_blank"><button class="button small round">Google+</button></a>
			</div>
		</div>
			<div id="learn-connector-reveal" class="reveal-modal" data-reveal>
			<h3>Connector badges</h3>
		</div>	
	  
		<div class="push"></div>
	</div>
	
	{% include "./zaplings/footer.html" %}
	  
    <script src="{% static "js/foundation.min.js" %}"></script>	
  	<script type="text/javascript">
    		$(document).foundation();
  	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#copy-link').click(function(){
				$(this).select();
			});
			
			$('user-link').click(function(){
				
			});
		});
	</script>
	</body>
</html>