<div class="row">
	<div class="medium-5 columns end">
		<form id="form-signup">
			<h3 class="centerText">Sign up</h3>
				<p>or <a href="#" data-reveal-id="login-reveal">Log in</a></p>
				<input id="last-name" type="text" placeholder="Last name"/>
				<div class="overflow-div"><input id="first-name" type="text" placeholder="First name"/></div>
				<span class="fit-left">zaplings.com/</span>
				<span class="input-sizer"><input id="username" type="text" placeholder="username"/></span>
				<input id="verify" type="password" placeholder="Verify password">
				<div class="overflow-div"><input id="password" type="password" placeholder="Password"/></div>
				<div class="centerText"><button type="submit" class="button success round">Create profile</button></div>
		</form>
	</div>
</div>

<div id="login-reveal" class="reveal-modal" data-reveal>
	{% include "./zaplings/login-reveal.html" %}
</div>