<div class="row hide-for-small-only">
	<div class="medium-8 medium-offset-2 columns end">
		<h4 class="centerText">dannypernik@gmail.com</h4>
	</div>
	<div class="medium-6 medium-offset-3 columns end">
		<p class="centerText">Start your profile:</p>
		<form id="form-signup" class="centerText">
				<input id="last-name" type="text" placeholder="Last name"/>
				<div id="overflow-div"><input id="first-name" type="text" placeholder="First name"/></div>
				<span id="username-link">zaplings.com/</span>
				<span class="input-sizer"><input id="username" type="text" placeholder="username"/></span>
				<input id="verify" type="password" placeholder="Verify password">
				<div id="overflow-div"><input id="password" type="password" placeholder="Password"/></div>
				<button type="submit" class="button success round">Create profile</button>
		</form>
	</div>
</div>
		
<div class="row show-for-small-only">
	<div class="small-10 small-offset-1 columns">
		<img class="small-profile-image" src="./images/default-profile.png" alt="Profile image" width="75px" height="75px"/>
		<form id="form-signup" class="centerText">
				<h4 class="centerText">dannypernik@gmail.com</h4>
				<p class="centerText">Start your profile here:</p>
				<input id="last-name" type="text" placeholder="Last name"/>
				<div id="overflow-div"><input id="first-name" type="text" placeholder="First name"/></div>
				<span class="fit-left">zaplings.com/</span>
				<span class="input-sizer"><input id="username" type="text" placeholder="username"/></span>
				<input id="verify" type="password" placeholder="Verify password">
				<div id="overflow-div"><input id="password" type="password" placeholder="Password"/></div>
				<button type="submit" class="button success round">Create profile</button>
		</form>		
	</div>
</div>