<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zaplings | Grow.</title>
		<link rel="stylesheet" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css' />
		<script src="js/vendor/modernizr.js"></script>
		<script src="./js/flowtype.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://jquery-textfill.github.io/jquery-textfill/jquery.textfill.min.js"></script>
	</head>
<body id="start">
	<div class="row">
		<div id="start-title" class="medium-8 small-10 medium-offset-2 small-offset-1">
	  	  	<span id="start-quote">Follow it!</span>
		</div>
	</div>
	<div class="row">
		<div class="medium-5 small-10 small-offset-1 columns">
			<h3 class="start-header">Do it now</h3>
				<button class="button radius do-now">Finish Passions page</button>
				<button class="button radius do-now">Write Sam's testimonial</button>
				<button class="button radius do-now">Get Jet's art in Medici</button>
			<a href="#">Do it next</a>			
		</div>
	</div>
		
	<script>
		$(function(){
			$('#start-title').textfill({ 
				maxFontPixels: 40,
				minFontPixels: 16				
			});
		});
	</script>
</body>