<!doctype html>

{% load static %}

<html class="no-js" lang="en">
  <head>  
  
    {% include "./zaplings/head.html" %}
      <script src="js/prefixfree.min.js"></script>
      <script src="{% static "./mmenu-master/src/js/jquery.mmenu.min.js" %}" type="text/javascript"></script>
      <link href="{% static "./mmenu-master/src/css/jquery.mmenu.all.css" %}" type="text/css" rel="stylesheet" />
      <script type="text/javascript" src="{% static "./js/mobile-menu.js" %}"></script>
    </head>
    <body>
      <div class="wrapper">
        <header class="row header full-width">
          <div class="header-left medium-7 medium-offset-1 hide-for-small-only columns">
            <img class="headerLogo" src="./images/logo150.png" width="101px" height="43px"/>
            <button class="new-idea button small radius">What's your great idea?</button>
          </div>
          <div class="header-left small-10 show-for-small-only columns">
            <img class="headerLogo" src="./images/logo150.png" width="94px" height="40px"/>
            <button class="small-new-idea button small radius">What's your great idea?</button>
          </div>
          <div class="header-learn large-3 medium-4 hide-for-small-only columns end">
            <a href="#" data-dropdown="drop1" class="button round small dropdown">Learn more</a>
            <ul id="drop1" class="f-dropdown" data-dropdown-content>
              <li><a href="#">How it works</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get involved</a></li>
            </ul>
          </div>
          <div class="header-learn show-for-small-only small-2 columns">
            <a href="#" data-dropdown="drop1" class="menu-button"><img src="./images/three-lines.png" alt="Menu" width="30px" height="30px"></a>
            <ul id="drop1" data-dropdown-content class="f-dropdown">
              <li><a href="#">How it works</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get involved</a></li>
            </ul>
          </div>
        </header>
        <div class="row"><p>&nbsp;</p></div> <!-- mysterious spacer div that makes things look okay ~MC -->
        <div class="row text-center">
          <div class="medium-8 medium-offset-2 columns">
            <div class="row">
              <div class="medium-4 medium-offset-4 columns">
                <p><img class="profile-image" src="./images/leaf-circle.png" alt="Idea image" width="75px" height="75px"/></p>
              </div>
              <div class="medium-4 columns text-right">
                <button href="#" id="change-image" class="small light round rightText">Change image</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><p>&nbsp;</p></div> <!-- mysterious spacer div that makes things look okay ~MC -->
        <div class="medium-8 medium-offset-2 columns">
          <form action="#"> <!-- insert form action / submit.php / etc here ~MC -->
          <div class="row">
            <div class="medium-8 column">
              <input type="text" id="idea-name" placeholder="Idea name">
            </div>
            <div class="medium-4 column">
              <select name="idea-type" id="idea-type">
                <option value="no-type-selected" disabled selected>Idea type</option>
                <option value="idea-service">Service</option>
                <option value="idea-product">Product</option>
                <option value="idea-cause">Cause</option>
                <option value="idea-art">Art</option>
                <option value="idea-project">Project</option>
                <option value="idea-event">Event</option>
                <option value="idea-fun">Fun</option>
              </select>
            </div>
          </div>
          <div class="small-12 column">
            <textarea name="idea-description" id="idea-description" cols="30" rows="1" placeholder="A short sweet slogan goes here (50 characters max)" maxlength="50"></textarea>
          </div>
          <div class="row">
            <div class="medium-4 column"><p><a href="#" class="idea add-notes">Add notes</a></p></div>
          </div>
          <div class="row controls">
            <div class="medium-12 column">
              <button class="small round">Save</button>
              <button class="small round success" data-reveal-id="modal-share-now">Share Now</button>
              <!-- twitter modal goes here -->
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="push"></div>
  </div>
  <div class="footer row full-width">
    <div class="social-media">
      <a href="#"><img class="social-button" src="./images/facebook-icon.png" alt="Facebook"></a>
      <a href="#"><img class="social-button" src="./images/twitter-icon.png" alt="Twitter"></a>
      <a href="#"><img class="social-button" src="./images/linkedin-icon.png" alt="LinkedIn"></a>
    </div>
  </div>
  <script src="js/foundation.min.js"></script>
  <!-- <script src="js/foundation/foundation.reveal.js"></script> -->
  <!-- <script src="js/foundation/foundation.dropdown.js"></script> -->
  <script type="text/javascript">
  $(document).foundation();
  </script>
  
</body>
</html>