<!doctype html>

{% load static %}

<html class="no-js" lang="en">
    <head>  
    
        {% include "./zaplings/head.html" %}
    
    </head>
    <body>
      
        <div class="wrapper">

            {% include "./zaplings/header.html" %}
            
            <h2 class="titleCenter"></h2>
            
            <div class="push"></div>
        </div>
        
        {% include "./zaplings/footer.html" %}
            
        <script src="{% static "js/foundation.min.js" %}"></script> 
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        {% include "./zaplings/end-scripts.html" %}
    </body>
</html>