<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="selectric-and-styled-checkboxes.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
      <script src="js/vendor/modernizr.js"></script>
      <script src="js/prefixfree.min.js"></script>
    </head>
    <body>
      <div class="wrapper">
        <header class="row header full-width">
          <div class="header-left medium-7 medium-offset-1 hide-for-small-only columns">
            <img class="headerLogo" src="./images/logo150.png" width="101px" height="43px"/>
            <button class="new-idea button small radius">What's your great idea?</button>
          </div>
          <div class="header-left small-10 show-for-small-only columns">
            <img class="headerLogo" src="./images/logo150.png" width="94px" height="40px"/>
            <button class="small-new-idea button small radius">What's your great idea?</button>
          </div>
          <div class="header-learn large-3 medium-4 hide-for-small-only columns end">
            <a href="#" data-dropdown="drop1" class="button round small dropdown">Learn more</a>
            <ul id="drop1" class="f-dropdown" data-dropdown-content>
              <li><a href="#">How it works</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get involved</a></li>
            </ul>
          </div>
          <div class="header-learn show-for-small-only small-2 columns">
            <a href="#" data-dropdown="drop2" class="menu-button"><img src="./images/three-lines.png" alt="Menu" width="30px" height="30px"></a>
            <ul id="drop2" data-dropdown-content class="f-dropdown">
              <li><a href="#">How it works</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get involved</a></li>
            </ul>
          </div>
        </header>
          <h2 class="titleCenter">Where would you like to meet?</h2>
          <form action=""> <!-- form interaction goes here -->
              <div class="row">
                <div class="medium-6 medium-offset-3 columns">
                  <input type="checkbox" name="meet-local" id="checkbox-meet-local"> 
                  <span>Meet </span>
                  <!-- <span> -->
                    <select name="select-distance" id="select-distance">
                      <option value="5">5</option>
                      <option value="10" selected>10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                    </select>
                  <!-- </span> -->
                  <span>miles from</span>
                  <input type="text" name="text-zip-code" id="text-zip-code" placeholder="zip code"/>
                </div>
              </div>
              <div class="row">
                <div class="medium-6 medium-offset-3 columns">
                  <span class="checkbox-indent">at</span>
                  <input type="text" name="text-favorite-spot" id="text-favorite-spot" placeholder="your favorite place"/><!-- </span> --> 
                  <!-- this element appears to not have a matching <span> before the closing tag -->
                </div>
              </div>
              <div class="row meet-anywhere">
                <div class="medium-6 medium-offset-3 columns">
                  <input type="checkbox" name="meet-by-video-call" id="meet-by-video-call"><span>Meet people around the world by video call</span>
                </div>
              </div>
          <div class="row next">
            <div class="column small-12 text-center">
              <br> <!-- shameful spacing hack, fix this ~MC -->
              <a href="#" class="button round success">Next: When can you meet?</a>
            </div>
          </div>
        </form>
        <div class="push"></div>
      </div>
    <div class="footer row full-width">
      <div class="social-media">
        <a href="#"><img class="social-button" src="./images/facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img class="social-button" src="./images/twitter-icon.png" alt="Twitter"></a>
        <a href="#"><img class="social-button" src="./images/linkedin-icon.png" alt="LinkedIn"></a>
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/jquery.selectric.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script type="text/javascript">
    $(document).foundation();
    $(document).ready($('select').selectric());
    </script>
  </body>
</html>