<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zaplings | Grow.</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
<!--    <link rel="stylesheet" href="selectric-and-styled-checkboxes.css">-->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300' rel='stylesheet' type='text/css'>
      <script src="{% static "./js/vendor/modernizr.js" %}"></script>
      <script src="{% static "./js/prefixfree.min.js" %}"></script>
      <script src="{% static "./js/vendor/jquery.js" %}"></script>
      <script src="{% static "./js/jquery.selectric.min.js" %}"></script>
    </head>
    <body>
      <div class="wrapper">
        
        {% include "./zaplings/header.html" %}

          <h2 class="titleCenter">Where would you like to meet?</h2>
          <form action=""> <!-- form interaction goes here -->
              <div class="row">
                <div class="centerText medium-7 small-centered columns">
                  <input type="checkbox" name="meet-local" id="checkbox-meet-local"> 
                  <span>Meet </span>
                    <input type="text" name="select-distance" id="select-distance" value="25" placeholder="(5-99)"/>
                  <span>miles from</span>
                  <input type="text" name="text-zip-code" id="text-zip-code" placeholder="zip code"/>
                </div>
              </div>
              <div class="row">
                <div class="centerText medium-7 small-centered columns">
                  <span class="checkbox-indent">at</span>
                  <input type="text" name="text-favorite-spot" id="text-favorite-spot" placeholder="your favorite place"/><!-- </span> --> 
                  <!-- this element appears to not have a matching <span> before the closing tag -->
                </div>
              </div>
              <div class="row meet-anywhere">
                <div class="centerText medium-7 small-centered columns">
                  <input type="checkbox" name="meet-by-video-call" id="meet-by-video-call"><span>Meet people around the world by video call</span>
                </div>
              </div>
          <div class="row next">
            <div class="column small-12 text-center">
              <br> <!-- shameful spacing hack, fix this ~MC -->
              <a href="#" class="button round success">Next: When can you meet?</a>
            </div>
          </div>
        </form>
        <div class="push"></div>
      </div>
      {% include "./zaplings/footer.html" %}

    <script src="js/foundation.min.js"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('select').selectric()
      });
    </script>
  </body>
</html>